<template>
    <div id="app-appointment">
        <appointment-form></appointment-form>

       <div class="container">
            <a id="appointment-add" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addAppointmentModal">
                <i class="fa fa-plus-circle"></i> Add Appointment
            </a>

            
       </div>
    </div>
</template>

<script>
    import Modal from './AppointmentModal.vue'

    export default {
        components: {
            'appointment-form': Modal
        }
    }
</script>

