<template>
    <table class="table create-reminder">
        <input type="hidden">
        <tr>
            <td>Title:</td>
            <td>
                <span id="span-title" class="error-p"></span>
                <input class="form-control" type="text" name="name" id="name" />
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <span id="span-date" class="error-p"></span>
                <datetime type="datetime" input-class="form-control" use12-hour name="date" id="date" readonly></datetime>
            </td>
        </tr>
        <tr>
            <td>Receivers:</td>
            <td>
                <span id="span-receivers" class="error-p"></span>
                <select class="selectpicker form-control" id="receivers" name="receivers[]" multiple="multiple">
                </select>
            </td>
        </tr>
        <tr>
            <td>Remarks:</td>
            <td>
                <span id="span-remarks" class="error-p"></span>
                <textarea class="form-control" name="remark" id="remark" rows="5"/>
            </td>
        </tr>
    </table>
</template>

<script>
    import Vue from 'vue';
    import Datetime from 'vue-datetime';
    // You need a specific loader for CSS files
    import 'vue-datetime/dist/vue-datetime.css';

    Vue.use(Datetime);

    export default {
        
    }



//   var consolee = document.getElementById('name').value;

//   console.log(consolee)
  
    //     date = document.querySelector('input[id="date"]').value,
    //     receivers = document.querySelector('select#receivers:checked').value,
    //     remarks = document.querySelector('textarea#remark').value;

//    if(title != '')
//        document.querySelector('button#reminder-create').setAttribute('disabled','disabled');
//    else
//        document.querySelector('button#reminder-create').setAttribute('disabled','false');



</script>