<template>
    <li>
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="notif-counter" v-if="reminders.length > 0 && reminders[0].notifs > 0">{{ reminders[0].notifs }}</span>
        </a>

        <ul class="dropdown-menu notifications">
             <div class="notification-nav">
                <span class="notification-see">
                    <a href="/reminder/list"> See All </a> 
                </span>
                 <span id="reminder-clear" class="notification-clear">
                    <a href="/reminder/clear"> Clear All </a> 
                </span>
            </div>
            <li v-for="reminder in orderedReminders" v-bind:class="(reminder.read_at) == null ? 'unread' : 'read'" >
                <a href="#" v-on:click.prevent="ReadCreated(reminder)" v-if="(reminder.type).match('AccountReminder')">Reminder {{ JSON.parse(reminder.data).reminder.name }} from {{ eventdate(JSON.parse(reminder.data).reminder.start) }} to {{ eventdate(JSON.parse(reminder.data).reminder.end) }} <br> <small>{{ dateshow(reminder.created_at) }}</small></a>
            </li>
            <li v-if="reminders.length === 0" class="text-center notification-empty">
                No new reminders
            </li>
            <br></br>
        </ul>

    </li>
</template>

<script>
    import moment from 'moment'
    export default {
        props: ['reminders'],
        computed: {
            orderedReminders: function(){
                return _.orderBy(this.reminders, ['created_at'],['desc'])
            }
        },
        methods: {
            eventdate : function (date){
                return moment(date).format('lll');
            },
            dateshow : function (date){
                return moment().date() > moment(date).date() ? moment(date).calendar() : moment(date).fromNow();
            },
            ReadCreated: function(reminder){
                var id = JSON.parse(reminder.data).reminder.id;
                
                axios.get('/reminder/show/'+id).then(response => {
                    var receivers = "",
                        modal = $('#reminderModal');

                    modal.find('span#eventTitle').text(response.data.title);
                    modal.find('span#eventDate').text(response.data.date);

                    $.each(response.data.receivers, function(i,j){
                        receivers += '<p>'+j.name+'</p>';
                    });

                    modal.find('td#eventReceivers').html(receivers);

                    modal.find('span#eventRemark').text(decodeHtml(response.data.remark));

                    // modal.find('span#eventRemindBefore').text(response.data.time_other ? response.data.time_other_value + ' ' + response.data.time_other : response.data.time);

                    modal.modal('show');
                });
            }
        }
    }
</script>

<!-- <script>
    export default {
        props: ['notifications'],
        methods: {
            MarkAsRead: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/edit/' + notification.data.lead.id;
                });
            }
        }
    }
</script> -->
