<template>
    <table class="table">
        <tr>
            <td>Title:</td>
            <td><span id="eventTitle"></span></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><span id="eventDate"></span></td>
        </tr>
        <tr>
            <td>Receivers:</td>
            <td id="eventReceivers">
            </td>
        </tr>
        <tr>
            <td>Remarks:</td>
            <td><span id="eventRemark"></span></td>
        </tr>
    </table>
    <!-- console.log("Hey"); -->
    <!-- <ul>
        <li v-for="reminder in orderedReminders">
            <a href="#">{{ reminder.data.reminder.name }}</a>
        </li>
    </ul> -->

</template>

<!-- <script>
//     import moment from 'moment'
//     export default {
//         props : ['reminders'],
//         computed : {
//             orderedReminders : function(){
//                 return _.orderBy(this.reminders, ['name'],['date'],['receivers'],['remark'])
//             }
//         },
//         methods : {
//              dateshow : function (date){
//                 return moment().date() > moment(date).date() ? moment(date).calendar() : moment(date).fromNow();
//             }
//         }
//     }
// </script>
-->


