<template>
    <div>
        <!-- Button of Add Opportunity Modal -->
        <button @click="showAddOpportunityModal"
                class="btn btn-success pull-right"
        >
            <i class="fa fa-plus"></i> Add Opportunity
        </button>

        <!-- Keep this to make vue-modal work -->
        <modals-container/>
     </div>
</template>

<script>

    // Imported child components
    import AddOpportunityModalComponent from './includes/AddOpportunityModal.vue';

    export default {
        props: ['options'], // Use the bind properties
        methods: {
            // Method for showing the Add Opportunity Modal
             showAddOpportunityModal() {
                    this.$modal.show(AddOpportunityModalComponent, {
                       options: this.options
                    },{
                        height: 'auto',
                        width: '60%',
                        reset: true,
                        clickToClose: false,
                        delay: 160,
                        transition: 'pop-out',
                        scrollable: true
                    },{
                        'before-open': (event) => {
                            // document.querySelector('i[id="loader-modal"]').classList.remove('hidden')
                        },
                        'opened': (event) => {
                            // document.querySelector('i[id="loader-modal"]').classList.add('hidden')
                        }
                    });
                },
        }
    }
</script>