<template>
    <div class="outer-data-box">
        <div class="main-data-box">

            <div class="data-header-box clearfix">
                <span class="header-h"><i class="fa fa-calendar"></i> Opportunities</span>
                <div class="data-search-box">
                    <span>
                     Search Company or Client Name:
                     <div class="search-box">
                       <input type="text"
                              class="form-control search-area"
                              id="searchOpportunity"
                              v-model="search_opportunity"
                              placeholder="Search"
                              @keyup.enter="searchOpportunity"
                              autocomplete="off"
                       >
                       <button id="btn-search-opportunity"
                               type="button"
                               class="search-btn"
                               @click.prevent="searchOpportunity"
                       >

                           <i class="fa fa-search" aria-hidden="true"></i>
                       </button>
                     </div>
                   </span> 
           
                </div>
            </div>

            <div class="data-buttons-box clearfix">
                <div class="filter-box">
                    <a id="btn-refresh-table"
                       @click.prevent="refresh"
                       @mouseover="mouseOverRefresh"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh table
                    </a>
                </div>

                <!-- Add Opportunity button with options coming from API-->
                <div>
                    <!-- Button of Add Opportunity Modal -->
                    <button @click="showAddOpportunityModal"
                            class="btn btn-success pull-right"
                    >
                        <i class="fa fa-plus"></i> Add Opportunity
                    </button>
                    <!-- Keep this to make vue-modal work -->

                </div>
<!--                <add-opportunity :options="options"></add-opportunity>-->
            </div>


            <!-- Datatable with paginate package -->
            <div class="table-box" v-if="data">
                <paginate name="data" :list="data" :per="40">

                </paginate>

                 <datatable
                        :columns="columns"
                        :data="paginated('data')"
                        :query="query"
                        :total="total"
                        :supportNested="supportNested"
                        :supportBackup="supportBackup"
                        :Pagination="Pagination"
                        :xprops="xprops"
                        :HeaderSettings="HeaderSettings"
                        :tblStyle="tblStyle"
                        :pageSizeOptions="pageSizeOptions"
                    >


                    </datatable>

                <p class="text-center">
                    <paginate-links :async="true"
                                    for="data"
                                    :classes="{
                        'ul' : 'pagination',
                    }"
                    ></paginate-links>
                </p>

            </div>

            <div v-else>
                <p class="text-center">No opportunity results found!</p>
            </div>
        </div> <!-- div.main-data-box -->

        <modals-container/>
        <v-dialog/>
    </div> <!-- div#columns -->
</template>

<script>

    // Import child components from includes directory
    import components from './includes';
    import AddOpportunityModalComponent from './includes/AddOpportunityModal.vue';

    export default {
        components, // call the components variable in one line
        props: {
            role: [String, Number], // Role coming from current users role
            user: [String, Number]
        },
        data() {
            return {
                columns: (() => { // Columns that is showing above of data table.
                    const cols = [
                        { title: 'Company', field: 'company', sortable: true, visible: true},
                        { title: '', tdComp: "ShowOpp", tdStyle: [{display: 'block'}] },
                        { title: 'Client Name (Latest)', field: 'client_name', sortable: true},
                        { title: 'Contract Type (Latest)', field: 'contract_type', sortable: true},
                        { title: 'Contract Value (Latest)', field: 'contract_value', sortable: true},
                        { title: 'Status (Latest)', field: 'status', sortable: true},
                        { title: 'Contact Number', field: 'mobile_number', sortable: true},
                        { title: 'Date Created', field: 'created_at', sortable: true},
                        { title: 'Created by', field: 'created_by', visible: this.role == 1, sortable: true}
                    ];

                    const groupsDef = {
                        Normal: ['Contact Number', 'Created by'],
                        Sortable: ['Company', 'Client Name', 'Contract Type', 'Contract Value', 'Status', 'Date Created']
                    }

                     return cols.map(col => {
                        Object.keys(groupsDef).forEach(groupName => {
                            if (groupsDef[groupName].includes(col.title)) {
                            col.group = groupName
                            }
                        })
                        return col
                    })
                })(),
                data: [],
                total: 0,
                query: {},
                supportBackup: true,
                supportNested: true,
                tblStyle: 'color: #666',
                Pagination: false,
                pageSizeOptions: [1, 2, 3],
                HeaderSettings: false,
                // any other staff that you want to pass to dynamic components (thComp / tdComp / nested components)
                xprops: {
                    eventbus: new Vue()
                },
                paginate: ['data'], // Use in paginating
                options: '', // Use in getting options from API backend
                search_opportunity: '',
                old_search_opportunity: '',
            }
        },
        watch: { // it will run before ready, if you know what I mean
            query: {
            handler (query) {
               this.handleQueryChange();
               this.getLeadServices;
            },
            deep: true
            }
        },
        created() {
            axios.interceptors.request.use((config) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.remove('hidden');
                });
                return config;
            }, (error) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.add('hidden');
                });
                return Promise.reject(error);
            });

            axios.interceptors.response.use((response) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.add('hidden');
                });
                return response;
            }, (error) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.remove('hidden');
                });
                return Promise.reject(error);
            });
        },
         computed: { // Fastest way of computing and getting information or process

            // Getting options or types coming from API backend
            getLeadServices() {
                axios.get('/opportunity/api/options')
                .then(response => {
                    this.options = response.data;  // Get response for getting the dropdown selection from database
                })
                .catch(error => {
                    console.log('Error on fetching options: ' + error);
                })
            },
        },
        methods: { // Methods or functions that is used inside on this component
            handleQueryChange() {

                // List method coming from API backend
                axios.get('/opportunity/list/' + this.query.sort + '/' + this.query.order)
                    .then(response => {
                        this.data = response.data.opportunities;
                        this.total = response.data.opportunities.length;
                });
            },
            refresh() {
                axios.get('/opportunity/refresh')
                    .then(response => {
                       this.data = response.data.opportunities;
                       this.total = response.data.opportunities.length;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            // Method for showing the Add Opportunity Modal
            showAddOpportunityModal() {
                this.$modal.show(AddOpportunityModalComponent, {
                    options: this.options
                },{
                    height: 'auto',
                    width: '60%',
                    reset: true,
                    clickToClose: false,
                    delay: 160,
                    transition: 'pop-out',
                    scrollable: true
                },{
                    'before-open': (event) => {
                        // document.querySelector('i[id="loader-modal"]').classList.remove('hidden')
                    },
                    'opened': (event) => {
                        // document.querySelector('i[id="loader-modal"]').classList.add('hidden')
                    }
                });
            },

            searchOpportunity() {
                const string = this.search_opportunity;

                if(string.length === 0 || !string || typeof string === "undefined" || string === this.old_search_opportunity)
                    return false;

                axios.get('/opportunity/search/' + string)
                    .then(response => {
                        this.data = response.data.opportunities || '';
                        this.total = response.data.opportunities.length;
                        this.old_search_opportunity = string;
                    })
                    .catch(error => {
                        console.log(error);
                    });


            },
            mouseOverRefresh() {
                document.querySelector('a[id="btn-refresh-table"]').addEventListener('mouseover', function() {
                   this.style.cursor = 'pointer';
                });
            }
        }
    }
</script>
