<template>
   <div>
       <p>{{ totalUsers }}</p>
       <ul>
           <li v-for="user in users">{{ user.username }}</li>
       </ul>
   </div>
</template>

<script>
    export default {
        el: '#app-employee',
        data () {
            return {
                users: ''
            }
        },
        computed: {
            totalUsers: function() {
                return this.users.length;
            }
        },
        created() {
             this.loadEmployees()
        },
        mounted() {
            console.log('Employee Component mounted.')
        },
        methods: {
            loadEmployees: function() {
                axios.get('http://phplaravel-154024-809913.cloudwaysapps.com/api/employee')
                .then(response => {
                    const res = response.data;
                    this.users = res.users;
                })
            }   
        }

    }
</script>
