<template>
    <div class="modal-content">
        <i class="loader hidden" id="loader-opportunity"></i>
        <!-- Modal Header -->
        <div class="modal-header">
            <button class="btn btn-danger pull-right" @click="touchClose">
                <span aria-hidden="true"><i class="fa fa-remove"></i></span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Add Opportunity
            </h4>
        </div>
        
        <!-- Modal Body -->
        <div class="modal-body">
            
            <form role="form">
                <div class="form-group">
                <label for="searchCompany">Search Company <span class="error-danger">*</span></label>
                    <div class="input-group">
                          <input type="text" v-model="search" class="form-control" id="searchCompany" name="search" placeholder="Search Company..." @keyup.enter="searchString(search)"/>
                          <span class="input-group-btn">
                              <button id="btnSearchCompany" class="btn btn-primary form-control" type="button" @click="searchString(search)">    
                                   <i class="fa fa-search"></i>
                              </button>
                          </span>
                    </div>
                </div>

                <div class="form-group">


                    <div v-if="opportunitySearchResults" class="table-box">
                        <paginate 
                                    name="paginate-results"
                                    :list="opportunitySearchResults"
                                    :per="3"
                                    
                        >
                            <table class="table table-striped table-hover">
                            
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Client Name</th>
                                        <th>Contract Type</th>
                                        <th>Contract Value</th>
                                        <th>Status</th>
                                        <th>Services</th>
                                        <th>Contact Number</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        <tr v-for="result in paginated('paginate-results')">
                                            <td>{{ result.company }}</td>
                                            <td>{{ getClientName(result.client_name) }}</td>
                                            <td>{{ getContractType(result.contract_type) }}</td>
                                            <td>{{ getContractValue(result.currency, result.contract_value) }}</td>
                                            <td>{{ getStatus(result.status) }}</td>
                                            <td>{{ getServices(result.services) }}</td>
                                            <td>{{ getContactNumber(result.mobile_number) }}</td>
                                            <td>{{ getCreatedDate(result.created_at) }}</td>
                                            <td>
                                                <button type="button" 
                                                        class="btn btn-info"
                                                        @click="changeDataInputs(result)"
                                                >
                                                    <i class="fa fa-reply"></i> Select
                                                </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </paginate>

                        <p class="text-center">
                            <paginate-links
                                    for="paginate-results"
                                    :classes="{
                                'ul' : 'pagination',
                            }"
                            ></paginate-links>
                        </p>

                    </div>

                     <p v-if="!opportunitySearchResults && showResult">No Results Found! <a href="/lead/create">Create a Lead</a></p>
                </div>

                <hr />

               <div class="row">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="services">Nature of Package/Services <span class="error-danger"></span></label>
                           <multiselect
                                   @input="getSelectedService(opportunity.services)"
                                  v-model="opportunity.services"
                                  :options="options.services"
                                  track-by="systemcode"
                                  :multiple="true"
                                  :close-on-select="false"
                                  :clear-on-select="false"
                                  :preserve-search="true"
                                  label="systemdesc"
                                  :preselect-first="true"
                                  placeholder="Select Service(s) (at least one)"
                                  v-validate="'required'"
                                  data-vv-as="Services"
                                  name="services"
                                   id="services"
                                  :class="[errors.has('services') ? 'is-invalid' : '']"
                              >
                              </multiselect>
                           <p v-show="errors.has('services')" class="error-danger">{{ errors.first('services') }}</p>
                       </div>
                   </div>
               </div>

                 <!-- -2nd row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contract_type">Contract Type <span class="error-danger">*</span></label>
                            <select id="contract_type" class="form-control"
                                    name="contract_type"
                                    v-model="opportunity.contract_type"
                                    v-validate="'required'"
                                    data-vv-as="Contract Type"
                                    disabled
                            >
                                <option v-for="contract_type in options.contract_types" :value="contract_type.systemcode" :key="contract_type.systemcode">
                                    {{ contract_type.systemdesc }}
                                </option>
                            </select>
                             <p v-show="errors.has('contract_type')" class="error-danger">{{ errors.first('contract_type') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contract_type">Currency <span class="error-danger">*</span></label>
                           <select disabled
                                   id="currency"
                                   class="form-control" name="currency"
                                   v-model="opportunity.currency" @change="changeCurrencyLabel"
                                   v-validate="'required'"
                                   data-vv-as="Currency"
                            >
                               <option v-for="currency in currencies" :value="currency.id" :key="currency.id">
                                   {{ currency.desc }}
                               </option>
                           </select>
                            <p v-show="errors.has('currency')" class="error-danger">{{ errors.first('currency') }}</p>
                        </div>
                    </div>
                </div>
                <!-- end of -2nd row -->

                   <!-- -1st row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contract_Type">Contract Value <span class="error-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon" id="input-group-currency">SGD</span>
                                <comma-formatted-number 
                                        class="form-control"
                                        v-model="opportunity.contract_value"
                                        :formatOptions="{thousand: ',', precision: 2}"
                                        name="contract_value"
                                        id="contract_value"
                                        disabled
                                        v-validate.initial="'required'"
                                        data-vv-as="Contract Value"
                                    />
                            </div>
                             <p v-show="errors.has('contract_value')" class="error-danger">{{ errors.first('contract_value') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="client_name">Client Name <span class="error-danger">*</span></label>
                            <input type="text"
                                   v-model="opportunity.client_name"
                                   class="form-control"
                                   id="client_name"
                                   name="client_name"
                                   placeholder="Enter Client Name"
                                   disabled
                                   v-validate="'required'"
                                   data-vv-as="Client Name"
                            />
                             <p v-show="errors.has('client_name')" class="error-danger">{{ errors.first('client_name') }}</p>
                        </div>
                    </div>
                </div>
                <!-- end of -1st row -->

                <!-- 1st row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobile_number">Mobile Number <span class="error-danger">*</span></label>
                            <input type="text"
                                   class="form-control"
                                   name="mobile_number"
                                   v-model="opportunity.mobile_number"
                                   id="mobile_number"
                                   placeholder="Enter Mobile Number"
                                   disabled
                                   v-validate="'required'"
                                   data-vv-as="Mobile Number" />
                            
                             <p v-show="errors.has('mobile_number')" class="error-danger">{{ errors.first('mobile_number') }}</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label for="office_number">Office Number</label>
                            <input type="text"
                                   class="form-control"
                                   name="office_number"
                                   v-model="opportunity.office_number"
                                   id="office_number"
                                   placeholder="Enter Office Number"
                                   disabled
                            />
                        </div>
                    </div>
                </div>
                <!-- end of 1st row -->

                 <!-- 2nd row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="designation">Designation</label>
                            <input type="text" class="form-control" name="designation" v-model="opportunity.designation"
                                    id="designation" placeholder="Enter Designation" disabled/>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Address <span class="error-danger">*</span></label>
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   v-model="opportunity.email"
                                   id="email"
                                   placeholder="Enter Email Address"
                                   disabled
                                   v-validate="'required|email'"
                                   data-vv-as="Email Address"
                            />

                            <p v-show="errors.has('email')" class="error-danger">{{ errors.first('email') }}</p>
                        </div>
                    </div>
                </div>
                <!-- end of 2nd row -->

                  <!-- 3rd row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control"
                                      cols="5"
                                      v-model="opportunity.address"
                                      name="address"
                                      id="address"
                                      placeholder="Enter Street Address"
                                      disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">City/Country</label>
                            <input type="text"
                                   class="form-control"
                                   v-model="opportunity.city"
                                   name="city"
                                   id="city"
                                   placeholder="Enter City/Country"
                                   disabled
                            />
                        </div>
                    </div>
                </div>
                <!-- end of 3rd row -->

                  <!-- 4th row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="postal_code">Postal Code</label>
                            <input type="text"
                                   class="form-control"
                                   v-model="opportunity.postal_code"
                                   name="postal_code"
                                   id="postal_code"
                                   placeholder="Enter Postal Code"
                                   disabled
                            />
                        </div>
                    </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="industry">Industry</label>
                            <select id="industry"
                                    class="form-control"
                                    v-model="opportunity.industry"
                                    name="industry"
                                    disabled
                            >
                                <option v-for="industry in options.industries" :value="industry.code" :key="industry.code">
                                    {{ industry.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- end of 4th row -->

                <!-- 5th row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="landing_page">Landing Page</label>
                             <select id="landing_page"
                                     class="form-control"
                                     v-model="opportunity.landing_page"
                                     name="landing_page"
                                     disabled="true"
                             >
                                <option v-for="landing in options.landings" :value="landing.systemcode" :key="landing.systemcode">
                                    {{ landing.systemdesc }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="website_url">Website URL</label>
                            <textarea class="form-control"
                                      cols="5"
                                      name="website_url"
                                      v-model="opportunity.website_url"
                                      disabled="true"
                                      id="website_url"
                                      placeholder="Enter Website URL"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <!-- end of 5th row -->

                 <!-- 6th row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="source">Source of Leads <span class="error-danger">*</span></label>
                            <select id="source"
                                    class="form-control"
                                    v-model="opportunity.source"
                                    name="source"
                                    disabled
                                    v-validate="'required'"
                                    data-vv-as="Source of Leads"
                            >
                                <option v-for="lead_source in options.lead_sources" :value="lead_source.systemcode" :key="lead_source.systemcode" >
                                    {{ lead_source.systemdesc }}
                                </option>
                            </select>

                             <p v-show="errors.has('source')" class="error-danger">{{ errors.first('source') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="source">Status <span class="error-danger">*</span></label>
                            <select id="status"
                                    class="form-control"
                                    v-model="opportunity.status"
                                    name="status"
                                    disabled
                                    v-validate="'required'"
                                    data-vv-as="Lead Status"
                            >
                                <option v-for="status in options.lead_statuses" :value="status.systemcode" :key="status.systemcode">
                                    {{ status.systemdesc }}
                                </option>
                            </select>

                             <p v-show="errors.has('status')" class="error-danger">{{ errors.first('status') }}</p>
                        </div>
                    </div>
                </div>
                <!-- end of 6th row -->
            </form>
            
            
        </div>
        
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button @click="touchClose"
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
            >
                <i class="fa fa-remove"></i> Close
            </button>
            <button :disabled="errors.any()"
                    @click="submitOpportunity"
                    id="btnCreateOpportunity"
                    type="button"
                    class="btn btn-primary"
            >
                <i class="fa fa-plus-circle"></i> Create
            </button>
        </div>

        <v-dialog/>
    </div>
</template>

<script>
    import CommaFormattedNumber from "vue-comma-formatted-number";
    const moment = require('moment');

    export default {
        components: { CommaFormattedNumber },
        props: ['options'],
        data() {
            return {
                opportunity: {
                    opportunity_id: '',
                    contract_type: 'CT001',
                    currency: 'SGD',
                    contract_value: '0.00',
                    client_name: '',
                    mobile_number: '',
                    office_number: '',
                    designation: '',
                    email: '',
                    address: '',
                    city: '',
                    postal_code: '',
                    industry: 'ID999',
                    landing_page: 'LP001',
                    website_url: '',
                    source: 'SL002',
                    status: 'LS001',
                    services: this.options.services[0],
                },
                 currencies: [
                    {id: 'USD', desc: 'US Dollar'},
                    {id: 'SGD', desc: 'Singapore Dollar'},
                    {id: 'PHP', desc: 'Philippine Peso'},
                    {id: 'MYR', desc: 'Malaysian Ringgit'},
                ],
                paginate: ['paginate-results'],
                opportunitySearchResults: '',
                search: '',
                showResult: false,
                oldSearchData: '',
                isDisabled: true,
                touch: false
            }
        },
        created() {
            axios.interceptors.request.use((config) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.remove('hidden');
                });
                return config;
            }, (error) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.add('hidden');
                });
                return Promise.reject(error);
            });

            axios.interceptors.response.use((response) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.add('hidden');
                });
                return response;
            }, (error) => {
                let elements = document.querySelectorAll('i.loader')
                elements.forEach(function(element) {
                    element.classList.remove('hidden');
                });
                return Promise.reject(error);
            });
        },
        methods: {
            getCreatedDate(date) {
                let datetime = moment(date.date).format('DD MMM YYYY LT');
                return datetime;
            },
            getSelectedService(services) {
                let selected = [];

                if (services) {
                    services.forEach(service => {
                        selected.push(service);
                    })

                }
                this.opportunity.services = selected;
            },
            touchClose() {
                this.$emit('close');

                if (this.touch) {
                    location.reload();
                }
            },
            submitOpportunity() {
                const opportunity = this.opportunity;

                if(!opportunity.client_name && !opportunity.mobile_number && !opportunity.email)
                {
                   this.$modal.show('dialog', { title: 'Warning!', text: 'Please input all required fields!', 
                        buttons: [ { title: 'OK' }]
                   });
                    return false;
                }

                axios.post('/opportunity/store', { opportunity }, { })
                .then(response => {
                    this.touch = true;
                    this.$modal.show('dialog', { title: 'Success!', text: 'Successfully created the opportunity!', 
                        buttons: [ { title: 'OK' }]
                   });

                    this.setDefaultInputs();
                    this.setDefaultInputs(true);
                })
                .catch(error => {
                    console.log(error);
                })
            },
            changeDataInputs(result) {
                document.querySelector('i[id="loader-opportunity"]').classList.remove('hidden');

                setTimeout(function() {
                     document.querySelector('i[id="loader-opportunity"]').classList.add('hidden');
                }, 1000)

                this.opportunity.opportunity_id = result.opportunity_id;
                this.opportunity.contract_type = result.contract_type;
                this.opportunity.currency = result.currency;
                this.opportunity.contract_value = result.contract_value || '0.00';
                this.opportunity.client_name = result.client_name;
                this.opportunity.mobile_number = result.mobile_number;
                this.opportunity.office_number = result.office_number;
                this.opportunity.designation = result.designation;
                this.opportunity.email = result.email;
                this.opportunity.address = result.address;
                this.opportunity.city = result.city;
                this.opportunity.postal_code = result.postal_code;
                this.opportunity.industry = result.industry;
                this.opportunity.landing_page = result.landing_page;
                this.opportunity.website_url = result.website_url;
                this.opportunity.source = result.source;
                this.opportunity.status = 'LS002';

                let arr = [];
                if(result.services) {
                    const options = this.options.services,
                          unsplittedServices = result.services;

                    let services = unsplittedServices.split('|');

                    services.forEach(service => {
                        options.forEach(option => {
                            if (option.systemcode === service) {
                                arr.push(option);
                            }
                        });
                    });
                }
                this.opportunity.services = arr;

                this.setDisabledInputs(false);

            },
            getClientName(clientName) { // For displaying of Client name in search table
                return clientName ? (clientName === ' ' ? 'Not Specified' : clientName) : 'Not Specified';
            },
            getContractType(contractType) { // For displaying of Contract type in search table
                let desc = '';
                const contractTypes = this.options.contract_types;
               
               if (contractType) {
                   contractTypes.forEach(function (element) {
                       if (element.systemcode === contractType)
                           desc = element.systemdesc;
                   });
               } else {
                   desc = 'Not Specified';
               }

                return desc;
            },
            getContractValue(currency, contractValue) { // For displaying of Contract value in search table
                return contractValue ? `${currency} ${contractValue}` : 'Not Specified'; 
            },
            getStatus(status) { // For displaying of Lead status in search table
                let desc = 'Converted';
                const leadStatuses = this.options.lead_statuses;
               
               if (status)
                    leadStatuses.forEach(function(element) {
                        if(element.systemcode == status)
                            desc = element.systemdesc;
                    });
                else
                    desc = 'Not Specified';

                return desc;
            },
            getContactNumber(mobileNumber) {  // For displaying of Contact number in search table
                return mobileNumber ? mobileNumber : 'Not Specified'; 
            },
            getServices(services) {
                let arr = [];
                const options = this.options.services;

                if (services) {
                    const selected = services.split("|");
                    options.map(option => {
                        selected.forEach(service => {
                            if (service === option.systemcode) {
                                arr.push(option.systemdesc);
                            }
                        })
                    });
                }
               return arr.length > 0 ? arr.join(', ') : 'None';
            },
            changeCurrencyLabel() {
                document.querySelector('span[id="input-group-currency"]').textContent = this.opportunity.currency;
            },

            searchString(data) {
                if(data == '' || data == null || data == 'undefined' || data == this.oldSearchData) 
                    return false;

                console.log(data);


                axios.get('/opportunity/api/search/' + data)
                .then(response => {
                    this.opportunitySearchResults = response.data.opportunities;
                    this.oldSearchData = data;
                    this.showResult = true;

                    this.setDefaultInputs();
                    this.setDisabledInputs();

                })
                .catch(error => {
                    console.log('Error on fetching search string: ' + error);
                })
            },
            setDefaultInputs() {
                this.opportunity.opportunity_id = '';
                this.opportunity.contract_type = 'CT001';
                this.opportunity.currency = 'SGD';
                this.opportunity.contract_value = '0.00';
                this.opportunity.client_name = '';
                this.opportunity.mobile_number = '';
                this.opportunity.office_number = '';
                this.opportunity.designation = '';
                this.opportunity.email = '';
                this.opportunity.address = '';
                this.opportunity.city = '';
                this.opportunity.postal_code = '';
                this.opportunity.industry = 'ID999';
                this.opportunity.landing_page = 'LP001';
                this.opportunity.website_url = '';
                this.opportunity.source = 'SL002';
                this.opportunity.status = 'LS002';
                this.opportunity.services = this.options.services[0];
            },
            setDisabledInputs(isDisabled = true) {
                const inputs = ['select[id="contract_type"]', 'select[id="currency"]', 'input[id="contract_value"]',
                    'input[id="client_name"]', 'input[id="mobile_number"]', 'input[id="office_number"]',
                    'input[id="designation"]', 'input[id="email"]', 'textarea[id="address"]', 'input[id="city"]',
                    'input[id="postal_code"]', 'select[id="industry"]', 'select[id="landing_page"]', 'textarea[id="website_url"]',
                    'select[id="source"]', 'select[id="status"]', '#services'
                ];

                if (isDisabled === true) {
                    document.querySelector('span[id="input-group-currency"]').textContent = 'SGD';
                    inputs.forEach(input => {
                        document.querySelector(input).setAttribute('disabled', '');
                    });
                } else {
                    inputs.forEach(input => {
                        document.querySelector(input).removeAttribute('disabled');
                    });
                }

            },
        }
    }
</script>
<style>
    .adjust-pad {
        padding: 1%;
    }
</style>