<template>
    <div class="margin-all">
        <div class="row">
            <div class="col-md-12">
                <div class="data-header-box clearfix">
                    <span class="header-h"><i class="fa fa-eye" aria-hidden="true"> </i> Convert {{ this.info.company }}'s Opportunity to Closed</span>
                    <button @click="$emit('close')" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>                                
                        <div class="clearfix">&nbsp;</div>
                        <div class="row adjust-pad">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="services">Nature of Package/Services <span class="error-danger">*</span></label>
                                    <multiselect 
                                        v-model="opportunity.services" 
                                        :options="this.options.services" 
                                        track-by="systemcode" 
                                        :multiple="true"
                                        :close-on-select="false"
                                        :clear-on-select="false"
                                        :preserve-search="true"
                                        label="systemdesc"
                                        :preselect-first="true"
                                        placeholder="Select Service(s) (at least one)"
                                        v-validate="'required'"
                                        data-vv-as="Services"
                                        name="services" 
                                        :class="[formControl, errors.has('services') ? 'is-invalid' : '']"
                                    >
                                        <!-- <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template> -->
                                    </multiselect>
                                     <p v-show="errors.has('services')" class="error-danger">{{ errors.first('services') }}</p>
                                </div>

                                <div class="form-group">
                                    <label for="contract_type">Contract Type <span class="error-danger">*</span></label>
                                    <select v-validate="'required'" 
                                            data-vv-as="Contract Type"
                                            id="contract_type" 
                                            name="contract_type" 
                                            v-model="opportunity.contract_type" 
                                            :class="[errors.has('contract_type') ? 'is-invalid' : '', formControl]"
                                    >
                                        <option v-for="contract_type in options.contract_types" :value="contract_type.systemcode" :key="contract_type.systemcode">
                                            {{ contract_type.systemdesc }}
                                        </option>
                                    </select>
                                     <p v-show="errors.has('contract_type')" class="error-danger">{{ errors.first('contract_type') }}</p>
                                </div>

                                <div class="form-group">
                                    <label for="contract_type">Currency <span class="error-danger">*</span></label>
                                    <select 
                                        id="currency" 
                                        name="currency"
                                        v-model="opportunity.currency" 
                                        class="form-control" 
                                        @change="changeCurrencyLabel"
                                        v-validate="'required'"
                                        data-vv-as="Currency"
                                        :class="[errors.has('currency') ? 'is-invalid' : '', formControl]"
                                    >
                                        <option v-for="currency in currencies" :value="currency.id" :key="currency.id">
                                            {{ currency.desc }}
                                        </option>
                                    </select>
                                     <p v-show="errors.has('currency')" class="error-danger">{{ errors.first('currency') }}</p>
                                </div>

                                    <div class="form-group">
                                        <label for="contract_value">Contract Value <span class="error-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="input-group-currency">SGD</span>
                                            <comma-formatted-number 
                                                class="form-control"
                                                v-model="opportunity.contract_value"
                                                :formatOptions="{thousand: ',', precision: 2}"
                                                v-validate="'required'"
                                                data-vv-as="Contract Value"
                                                name="contract_value"
                                                :class="[errors.has('contract_value') ? 'is-invalid' : '', formControl]"
                                            />
                                        </div>

                                        <p v-show="errors.has('contract_value')" class="error-danger">{{ errors.first('contract_value') }}</p>
                                    </div>

                                <div class="form-group">
                                    <label for="status">Status <span class="error-danger">*</span></label>
                                    <select 
                                        id="status" 
                                        name="status" 
                                        v-model="opportunity.status" 
                                        class="form-control"
                                        v-validate="'required'"
                                        data-vv-as="Status"
                                        :class="[errors.has('status') ? 'is-invalid' : '']"
                                    >
                                        <option v-for="lead_status in options.lead_statuses" :value="lead_status.systemcode" :key="lead_status.systemcode">
                                            {{ lead_status.systemdesc }}
                                        </option>
                                    </select>
                                     <p v-show="errors.has('status')" class="error-danger">{{ errors.first('status') }}</p>
                                </div>

                                <div class="form-group">
                                    <label for="status">GA Required?</label>
                                    <input type="radio" name="ga_required" v-model="opportunity.ga_required" value="1" /> Yes
                                    <input type="radio" name="ga_required" v-model="opportunity.ga_required" value="0" checked /> No
                                    <input type="text" id="ga_required_value" v-model="opportunity.ga_required_value" name="ga_required_value" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                    <label for="thank_you">Thank You Page URL</label>
                                    <input type="text" id="thank_you" v-model="opportunity.thank_you" name="thank_you" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="contact_us">Contact Us Page URL</label>
                                    <input type="text" id="contact_us" v-model="opportunity.contact_us" name="contact_us" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="implementations">Implementations Needed from OOm?</label>
                                    <input type="radio" name="implementations" v-model="opportunity.implementations" value="1"/> Yes
                                    <input type="radio" name="implementations" v-model="opportunity.implementations" value="0" checked /> No
                                    <input type="text" id="implementations_value" v-model="opportunity.implementations_value" name="implementations_value" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="ftp_login">Website CMS/FTP Login</label>
                                    <textarea id="ftp_login" v-model="opportunity.ftp_login" name="ftp_login" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="status">Source of Lead <span class="error-danger">*</span></label>
                                    <select 
                                        id="source" 
                                        name="source" 
                                        v-model="opportunity.source" 
                                        v-validate="'required'"
                                        data-vv-as="Source of Lead"
                                       :class="[errors.has('source') ? 'is-invalid' : '', formControl]"
                                    >
                                        <option v-for="lead_source in options.lead_sources" :value="lead_source.systemcode" :key="lead_source.systemcode">
                                            {{ lead_source.systemdesc }}
                                        </option>
                                    </select>
                                     <p v-show="errors.has('source')" class="error-danger">{{ errors.first('source') }}</p>
                                </div>

                                <div class="form-group">
                                    <label for="remarks">Remarks</label>
                                    <textarea 
                                        id="remarks" 
                                        v-model="opportunity.remarks" 
                                        name="remarks" 
                                        class="form-control"
                                    ></textarea>
                                </div>
                            </div>
                         
                        </div>
                    
                <div class="bottom-buttons clearfix">
                    <div class="buttons-box">
                        <button type="button" class="btn btn-danger" @click="$emit('close')">
                            <i class="fa fa-remove"></i> Cancel
                        </button> 
                
                        <button :disabled="errors.any()" @click="postOpportunity(opportunity)" type="button" class="btn btn-primary">
                            <i class="fa fa-sign-out"></i> Convert to Closed
                        </button>
                    </div>

        
                </div>
                        
            </div> <!-- div.col-md-12 -->
        </div> <!-- div.row -->
    </div>
</template>

<script>
    import { ValidationProvider } from 'vee-validate';
    import CommaFormattedNumber from "vue-comma-formatted-number";

    export default {
        components: { ValidationProvider, CommaFormattedNumber },
        props: ['info', 'options'],
        data() {
            return {
                currencies: [
                    {id: 'USD', desc: 'US Dollar'},
                    {id: 'SGD', desc: 'Singapore Dollar'},
                    {id: 'PHP', desc: 'Philippine Peso'},
                    {id: 'MYR', desc: 'Malaysian Ringgit'},
                ],
                opportunity: {
                    id: this.info.opportunity_id,
                    opportunity_info: this.info.id,
                    prospect_id: this.info.prospect_id,
                    client_name: this.info.client_name,
                    designation: this.info.designation,
                    contact_number: this.info.mobile_number,
                    email: this.info.email,
                    services: '',
                    contract_type: 'CT001',
                    currency: 'SGD',
                    contract_value: '0.00',
                    status: 'LS002',
                    ga_required: 0,
                    ga_required_value: '',
                    thank_you: '',
                    contact_us: '',
                    implementations: 0,
                    implementations_value: '',
                    ftp_login: '',
                    source: 'SL002',
                    remarks: '',
                    services: []
                },
                formControl: 'form-control'
            }
        },
        methods: {
            changeCurrencyLabel() {
                document.querySelector('span[id="input-group-currency"]').textContent = this.opportunity.currency;
            },

            postOpportunity(opportunity) {
                if(this.errors.any())
                {
                   this.$modal.show('dialog', { title: 'Warning!', text: 'Please input all required fields', 
                        buttons: [ { title: 'OK' }]
                   });
                    return false;
                }
                    
                this.$modal.show('dialog', { 
                    title : 'Confirmation Message!', 
                    text: `Are you sure you want to convert this opportunity ${this.info.company} with client name ${this.info.client_name} to closed?`,
                    buttons: [
                        { 
                            title: 'Yes',
                            handler: () => {
                                 axios.post('/opportunity/store_session', { opportunity })
                                .then((res) => {
                                    window.location.href = "/prospect/convert/" + this.opportunity.prospect_id + "/step-1";
                                })
                                .catch(error => {
                                    console.log(error);
                                });
                            }
                        },
                        {
                            title: 'No',
                            default: true
                        }
                    ]
                })
               
            }
        }
    }
</script>

<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
    .adjust-pad {
        padding: 1%;
    }
</style>

