<template>
    <div>
        <div class="table-box" >
            <table class="table main-table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Client Name <i @click="sort('client_name')" id="client_name" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Contact Number <i @click="sort('mobile_number')" id="mobile_number" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Contract Type <i @click="sort('contract_type')" id="contract_type" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Contract Value <i @click="sort('contract_value')" id="contract_value" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Status <i @click="sort('status')" id="status" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Services <i @click="sort('services')" id="services" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Date Created <i @click="sort('created_at')" id="created_at" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Created by <i @click="sort('created_by')" id="created_by" class="fa fa-sort-alpha-desc" aria-hidden="true"></i></th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(info, index) in sortedOpportunities" :key="info.id" :value="info.id" >
                        <td class="text-center">{{ info.client_name }}</td>
                        <td class="text-center">{{ info.mobile_number }}</td>
                        <td class="text-center">{{ info.contract_type }}</td>
                        <td class="text-center">{{ info.contract_value }}</td>
                        <td class="text-center">{{ info.status }}</td>
                        <td class="text-center">{{ info.services }}</td>
                        <td class="text-center">{{ info.created_at }}</td>
                        <td class="text-center">{{ info.created_by }}</td>
                        <td class="text-center text-nowrap">
                           <button class="btn btn-info"
                                    data-toggle="tooltip" 
                                    :title="viewButtonTooltip" 
                                    @click="showOpportunityModal(info)"
                           >
                                <i class="fa fa-eye"></i>
                           </button> 

                            <button v-if="info.status != 'Converted'"
                                    class="btn btn-primary"
                                    data-toggle="tooltip"
                                    :title="convertButtonTooltip"
                                    @click="showConvertClosedModal(info, options)"
                            >
                                <i class="fa fa-sign-out"></i>
                           </button>

                            <button v-if="info.status != 'Converted'"
                                    class="btn btn-danger"
                                    @click="destroyOpportunityInfo(info, index)">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="text-center">
            <button @click.prevent="prevPage" class="btn btn-sm btn-primary btn-outline circle"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button @click.prevent="nextPage" class="btn btn-sm btn-primary btn-outline circle">Next <i class="fa fa-arrow-circle-right"></i></button>
        </p>
    </div>
</template>

<script>
    import ViewOpportunityModalComponent from '../includes/ViewOpportunityModalComponent.vue';
    import ConvertClosedModalComponent from '../includes/ConvertClosedModalComponent.vue';

    export default {
        props: ['row', 'role'],
        data() {
            return {
                options: {},
                currentSort: 'created_at',
                currentSortDir: 'asc',
                pageSize: 5,
                currentPage: 1
            }
        },
        mounted() {
            $(this.$el).find('button[title]').tooltip();
        },
        computed: {
            viewButtonTooltip() {
                return `View ${this.row.company}'s Opportunity Information`;
            },
            convertButtonTooltip() {
                return `Convert ${this.row.company} to Closed Information`;
            },
            deleteButtonTooltip() {
                return `Delete ${this.row.company}`;
            },
            getLeadServices: function() {
                axios.get('/opportunity/api/options')
                .then(response => {
                    this.options = response.data;
                })
            },
            sortedOpportunities() {
                return this.row.infos.sort((a, b) => {
                    let modifier = 1;

                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                }).filter((row, index) => {
                    let start = (this.currentPage - 1) * this.pageSize;
                    let end = this.currentPage * this.pageSize;
                    if (index >= start && index < end) return true;
                });
            }
        },
        created()  {
            this.getLeadServices;
        },
        methods: {
            showOpportunityModal(info) {
                this.$modal.show(ViewOpportunityModalComponent, {
                   info: info
                },{
                    height: 'auto', width: '50%', reset: true, clickToClose: false, delay: 160, transition: 'pop-out'
                },{
                    'before-open': (event) => { 
                        document.querySelector('i[id="loader-modal"]').classList.remove('hidden') 
                    },
                    'opened': (event) => {
                        document.querySelector('i[id="loader-modal"]').classList.add('hidden') 
                    }
                })
            },

             showConvertClosedModal(info, options) {
                 this.$modal.show(ConvertClosedModalComponent, {
                   info: info,
                   options: options
                },{
                    height: 'auto', width: '50%', reset: true, clickToClose: false, delay: 160, scrollable: true, transition: 'pop-out'
                },{
                    'before-open': (event) => { 
                        document.querySelector('i[id="loader-modal"]').classList.remove('hidden') 
                    },
                    'opened': (event) => {
                        document.querySelector('i[id="loader-modal"]').classList.add('hidden') 
                    }
                })
            },

            destroyOpportunityInfo(info, index) {
                const opportunityID = info.id;

                this.$modal.show('dialog', {
                    title : 'Warning!',
                    text: `Are you sure you want to delete opportunity info ${info.company} with client name ${info.client_name}?`,
                    buttons: [
                        {
                            title: 'Yes',
                            handler: () => {

                                this.$modal.hide('dialog');

                                axios.post(`/opportunity/delete`, { opportunityID })
                                .then(res => {
                                    this.row.infos.splice(index, 1);
                                    this.$modal.show('dialog', { title: 'Success!', text: res.data.message,
                                        buttons: [ { title: 'OK' }]
                                    });
                                })
                                .catch(error => {
                                    let errResponse = error.response;
                                    document.querySelector('i[id="loader-modal"]').classList.add('hidden');
                                    this.$modal.show('dialog', { title: 'Warning!', text: errResponse.data.message,
                                        buttons: [ { title: 'OK' }]
                                    });
                                });
                            }
                        },
                        {
                            title: 'No',
                            default: true
                        }
                    ]
                })
            },

            sort(s) {
                const sortElement =document.querySelector(`i[id="${s}"]`);
                // if s == current sort, reverse
                if (s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }

                if (this.currentSortDir === 'asc') {
                    sortElement.classList.remove('fa-sort-alpha-desc');
                    sortElement.classList.add('fa-sort-alpha-asc');
                    sortElement.classList.add('active');
                } else {
                    sortElement.classList.remove('fa-sort-alpha-asc');
                    sortElement.classList.add('fa-sort-alpha-desc');
                    sortElement.classList.add('active');
                }

                this.currentSort = s;
            },

            nextPage() {
                if((this.currentPage * this.pageSize) < this.row.infos.length) this.currentPage++;
            },

            prevPage() {
                if(this.currentPage > 1) this.currentPage--;
            }
        }
    }
</script>
<style>
    /* .pop-out-enter-active,
    .pop-out-leave-active {
        transition: all 0.4s;
    }
    .pop-out-enter,
    .pop-out-leave-active {
        opacity: 0;
        transform: translateY(24px);
    } */
</style>
