<template>
    <div>
        <button
            :class="classes"
            data-toggle="tooltip" 
            title="Show opportunities..."
            @click="toggleNestedOpportunity('MoreOpp')"
        >
            <i class="fa fa-angle-double-down"></i> {{ countOpportunities }}
        </button>
        
    </div>
</template>
<script>
export default {
    props: ['nested', 'row'],
    mounted() {
        $(this.$el).find('button[title]').tooltip();
    },
    computed : {
        isMoreOpportunitiesVisible() {
            if (this.nested.comp !== 'MoreOpp') return;
            return this.nested.visible;
        },
        countOpportunities() {
            return this.row.infos.length
        },
        classes() {
            return [
                'btn', 'btn-info', 'circle',
                (this.isMoreOpportunitiesVisible ? '-nested-comp-open-btn' : '')
            ]
        },


    },
    methods : {

        toggleNestedOpportunity(comp) {
            const { nested } = this;
            if(nested.comp === comp) return nested.$toggle()
            nested.$toggle(comp, true);
        },
    }
}
</script>

<style>
    .-nested-comp-open-btn {
        color: #fff !important;
        background-color: #337ab7 !important;
    }
</style>