<template>
    <div class="margin-all">
        <div class="row">
            <div class="col-md-12">
                <div class="data-header-box clearfix">
                    <span class="header-h"><i class="fa fa-eye" aria-hidden="true"> </i> {{ this.info.company }}'s Opportunity Details</span>
                    <button @click="$emit('close')" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>                                
                        <div class="clearfix">&nbsp;</div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-status" class="col-md-5 control-label">Company</label>
                                    <div class="col-md-6" id="view-company">
                                        <p>{{ this.info.company }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-status" class="col-md-5 control-label">Services</label>
                                    <div class="col-md-6" id="view-nature">
                                        <p>{{ this.info.services }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-status" class="col-md-5 control-label">Status</label>
                                    <div class="col-md-6" id="view-status">
                                        <p>{{ this.info.status }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-company" class="col-md-5 control-label">Contract Type</label>
                                    <div class="col-md-6" id="view-contract-type">
                                        <p>{{ this.info.contract_type }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-contract-value" class="col-md-5 control-label">Contract Value</label>
                                    <div class="col-md-6" id="view-contract-value">
                                        <p>{{ this.info.contract_value }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-client-name" class="col-md-5 control-label">Client Name</label>
                                    <div class="col-md-6" id="view-client-name">
                                        <p>{{ this.info.client_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-office-number" class="col-md-5 control-label">Office Number</label>
                                    <div class="col-md-6" id="view-office-number">
                                        <p>{{ this.info.office_number }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-mobile-number" class="col-md-5 control-label">Mobile Number</label>
                                    <div class="col-md-6" id="view-mobile-number">
                                        <p>{{ this.info.mobile_number }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-email" class="col-md-5 control-label">Email Address</label>
                                    <div class="col-md-6" id="view-email">
                                        <p>{{ this.info.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-designation" class="col-md-5 control-label">Designation</label>
                                    <div class="col-md-6" id="view-designation">
                                        <p>{{ this.info.designation }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-address" class="col-md-5 control-label">Address</label>
                                    <div class="col-md-6" id="view-address">
                                        <p>{{ this.info.address }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-postal" class="col-md-5 control-label">Postal Code</label>
                                    <div class="col-md-6" id="view-postal-code">
                                        <p>{{ this.info.postal_code }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-city" class="col-md-5 control-label">City/Country</label>
                                    <div class="col-md-6" id="view-city">
                                        <p>{{ this.info.city }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-website" class="col-md-5 control-label">Industry</label>
                                    <div class="col-md-6" id="view-industry">
                                        <p>{{ this.info.industry }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-services" class="col-md-5 control-label">Website URL</label>
                                    <div class="col-md-6" id="view-website-url">
                                        <p>{{ this.info.website_url }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-other-services" class="col-md-5 control-label">Other Services</label>
                                    <div class="col-md-6" id="view-other-services">
                                        <p>{{ this.info.other_services }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-source" class="col-md-5 control-label">Source of Leads</label>
                                    <div class="col-md-6" id="view-source">
                                        <p>{{ this.info.source }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-other-source" class="col-md-5 control-label">Other Source</label>
                                    <div class="col-md-6" id="view-other-source">
                                        <p>{{ this.info.other_source }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-landing-page" class="col-md-5 control-label">Landing Page</label>
                                    <div class="col-md-6" id="view-landing-page">
                                        <p>{{ this.info.landing_page }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-landing" class="col-md-5 control-label">Other Landing Page</label>
                                    <div class="col-md-6" id="view-landing-other">
                                        <p>{{ this.info.other_landing }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-created-by" class="col-md-5 control-label">Owner</label>
                                    <div class="col-md-6" id="view-created-by">
                                        <p>{{ this.info.created_by }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-created-at" class="col-md-5 control-label">Date Created</label>
                                    <div class="col-md-6" id="view-created-at">
                                        <p>{{ this.info.created_at }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="this.info.updated_by != 'Not Updated'" class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-updated-by" class="col-md-5 control-label">Updated by</label>
                                    <div class="col-md-6" id="view-updated-by">
                                        <p>{{ this.info.updated_by }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix">
                                    <label for="view-updated-at" class="col-md-5 control-label">Updated at</label>
                                    <div class="col-md-6" id="view-created-at">
                                        <p>{{ this.info.updated_at }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                <div class="bottom-buttons clearfix">
                    <div class="buttons-box">
                        <button type="button" class="btn btn-danger" @click="$emit('close')">
                            <i class="fa fa-remove"></i> Close
                        </button>
                    </div>
                </div>
                        
            </div> <!-- div.col-md-12 -->
        </div> <!-- div.row -->
    </div>
</template>

<script>
export default {
    props: ['info']
}
</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .margin-all {
        margin: 3% 0 0 0;
        padding: 3% 1% 2% 1%;
    }
</style>


