[v-cloak] {
  display: none;
}

.display-none {
  display: none;
}

.is-valid {
  border-color: #2ab27b;
}

.is-invalid {
  border-color: #bf5329;
}

.error-danger {
  color: #bf5329;
}

.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.4s;
}

.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

