.acf-map {
	width: 100%;
	height: 300px;
	margin: 0;
}

@media (max-width: 767px) {

.acf-map {
	height: 200px;
}

}

.loader{
  font-size:100px;
  z-index:100;
  position:absolute;
  opacity: 0.7;
  margin:5% 35%;
}

div.seo-file-uploading > .error-p,
div.fb-file-uploading > .error-p,
div.file-uploading > .error-p,
span.note.error-p,
span.error-p.account,
span.error-p.lead,
span.error-p.employee {
    color: #b64d00;
}

input.form-control[disabled]{
		color: #b64d00;
}

.has-error .checkbox{
		color: #c8ccd5;
}

.elipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


select.multiselect,
select.multiselect + div.btn-group,
select.multiselect + div.btn-group button.multiselect,
select.multiselect + div.btn-group.open .multiselect-container{
    width:100% !important;
}

button.multiselect{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiselect b.caret{
		display: none;
}
