@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");

.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(61, 59, 60);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 40pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 21pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.twitter a {
	color: rgb(79, 213, 248) !important;
}
.google-plus a {
	color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 90px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 90px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 90px;
		text-align: left;
		padding-right: 40px;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
	.event-list > li > .social > ul {
		border-left: 1px solid rgb(230, 230, 230);
	}
	.event-list > li > .social > ul > li {			
		display: block;
		padding: 0px;
	}
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 3px 0px 8px;
	}
}

.loader {
	position: fixed;
	top: 0; 
	left: 0;
	width: 115%;
    height: 80%;
	background: url("../images/loader.gif") center center no-repeat;
	z-index: 999;
	/* background-color: rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.2); */
}

div.leadnotes-loading{
	height: 250px;
	line-height: 15;
}

input.form-control[disabled] {
	color: #b64d00;
}

.has-error .checkbox {
	color: #c8ccd5;
}

.elipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


select.multiselect,
select.multiselect + div.btn-group,
select.multiselect + div.btn-group button.multiselect,
select.multiselect + div.btn-group.open .multiselect-container{
  width:100% !important;
}

button.multiselect {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiselect-native-select .open .multiselect,
button.multiselect:hover,
button.multiselect:focus {
	border-color: #bbb !important;
	background: none !important;
}

.multiselect b.caret {
	display: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background: none;
}

button[title = "Upload file"],
button[title = "View Details"],
div.file-upload-indicator,
a.fileinput-upload-button{
    display: none !important;
}

.swal2-popup{
    font-size: 1.2rem;
}

button.close{
    color: #fff;
}

.campaign-interval{
	height: 40px;
	border: #bbbbbb solid 1px;
}

a.sort-lead,
a.sort-account,
a.sort-employee{
	color: #111;
}

a.sort-lead.active,
a.sort-account.active,
a.sort-employee.active{
	color: #c12c62;
}

/* text.highcharts-title,
text.highcharts-subtitle{
	fill: #fff !important;
	color: #000 !important;
}

tspan{
	stroke: #fff;
	stroke-width: 1px !important;
} */

.lead-note > span {
	display: inline-block;
}

.mobile-nav{
	display: none;
}

.graph-filter{
	margin: 0 5px;
}

.data-header-box{
	margin-bottom: 10px !important;
}
.panel-group{
	margin-top: 10px !important;
}

.account-owners,
.account-updated-by{
	font-size: 13px;
	color: #6e7275;
	margin-top: 5px;
}

.login-form--inner .reset-email:before {
    content: "\f003";
    font-family: "FontAwesome";
    position: absolute;
    top: 8px;
	left: -23px;
}

.login-form--inner .confirm-pass:before {
    content: "\f14a";
    font-family: "FontAwesome";
    position: absolute;
    top: 8px;
	left: -23px;
}

.account-owner-info{
	display: inline-block;
}

div.back-to-login{
	position: relative;
	margin-top: 150px;
}

div.back-to-login > p > a,
div.forgot-pass > p > a{
	color: #fff;
}

div.back-to-login > p > a:hover,
div.forgot-pass > p > a:hover{
	color: #ffd9dc;
}

.notif-counter{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    line-height: 1.5;
    bottom: 10px;
    right: 5px;
}
ul.dropdown-menu.notifications{
	background:#edf2fa;
}

ul.notifications {
	color: #bbb;
	max-height: 400px;
	overflow-y: auto;	
}

ul.notifications li.unread{
	background: lightsteelblue;
}
ul.notifications li a{
	color: #111;
}
ul.notifications li a:hover{
	text-decoration:underline;
	color: #111;
}

ul.notifications li.read{
	background: #edf2fa;
}
ul.notifications li a:hover{
	text-decoration:underline;
	color: #111;
}

li.notification-empty{
	height: 40px;
	color:#111;
	margin-top:14px;
}

li.notification-footer{
	margin-top: -5%;
}

li.notification-footer a{
	width: 100%;
	text-align: center;
}

ul.notifications-panel{
	list-style: none;
	padding: 0;
}

ul.notifications-panel li{
	width: 100%;
	padding: 10px 5px;
	line-height: 1.34;
	border-bottom: 1px solid #dddfe2;
}

ul.notifications-panel li:last-child{
	border: none;
}

ul.notifications-panel li.unread{
	background: #edf2fa;
}

ul.notifications-panel li a{
	color: #111;
}
ul.notifications div.notification-nav{
	background: #b11821;
	width:100%;
	padding:2%;
	position:sticky;
	top:91%;
}
ul.notifications div.notification-nav span a{
	padding: 0 17% 0 19%;
}
ul.notifications div.notification-nav span a:hover{
	text-decoration:underline;
}
ul.notifications div.notification-nav span:first-child{
	border-right: 1px solid #fff;
}

ul.notifications  > :first-child{
	background-color: #333;	
	margin-top: -40px;
}

ul.notifications > li {
	-webkit-box-shadow: 0px 0px 3px 0px #6B6B6b; 
	box-shadow: 0px 0px 3px 0px #6B6B6b;	
}


ul.notifications > :last-child{
	border-bottom: 0;
}

td.set-reminder{
	position: absolute;
	left: 25%;
    /* right: 250px; */
    width: 50%;
    /* margin-left: 100px; */
}

td.set-reminder a{
	color: #fff;
}

table.table > tr > td {
	padding: 5px;
}

table#account-management{
	position: relative;
}

.tool-list > li.vue-component > li{
	float: left;
	position: relative;
	margin-top: 14.5px;
	margin-left: 15px;
	margin-right: 10px;
}

table.create-reminder > tr > td{
	padding-bottom: 1em;
}

.error-logs-container{
	padding: 5px 120px !important;
}

#table-log{
	font-size: 13px !important;
}

.assign-border {
	border: 1px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 4px;
	margin-top: 25px;
}

.assign-padding {
	padding: 10px;
	font-size: 120%;
}

.assign-background {
	background:#7c0a02 !important;
}	

.assign-btn {
	margin: 15px 0;
}

.remove-list-style {
	list-style-type: none;
}

.add-padding-bottom {
	padding-bottom: 2%;
}

.warning-btn {
	background: #ffc100;
	display: inline-block;
}
.cta-btn-warn {
	border-radius: 4px;
	/* display: inline-block; */
	padding: 10px 15px;
	text-align: center;
	font-weight: 600;
	background: #ffc100 ;
	color: #fff;
  }
.cta-btn-warn:hover, .cta-btn-warn:focus {
	background: #f0ad4e ;
	color: #fff;
	text-decoration: none;
	outline: none;
}
.disable-btn{
	background: grey;
	color:#C0C0C0;
}
.disable-btn:hover, .disable-btn:focus{
	background: grey;
	color:#C0C0C0;
}
.m-left{
	margin-left: 87%;
}
.back-btn {
	margin-left: 7%;
}
.btn-button-rect {
	border-radius: 8px;
	background: #b11821e0 !important;
}
.btn-button-rect:hover {
	background: #d9534f !important;
}

.prev-next {
	font-size: 18px;
	color: #fff !important;
	margin-right: 18px;
}
.prev-next:visited {
	color: #fff !important;
}
.prev-next:active {
	color: #d9534f !important;
}
.prev-next:hover {
	color: #ffe0ac !important;
}

.remaining-span {
	display: block;
	font-size: 14px;
	font-weight: 380;
	margin-top: 10px;
}
.span-contract-num {
	font-size: 23px;
	color: #6e7279;
	font-family: Nunito, serif;
	padding: 8px;
	border-radius: 5px;
}
.active-c {
	background: #37b937;
	color: #ffffff;
}
.past-c {
	background: #b12b2b;
	color: #ffffff;
}
.modal-dialog{
    position: relative;
    display: table; 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
	min-width: 300px;  
}
a.contract-link:link {
	color: blue;
}
a.contract-link:hover {
	text-decoration: underline;
}
span#basic-unlock:hover {
	background: #c3c3cc;
}
.bg-none {
	background: none;
}
.margin-top {
	margin-top: 2px;
}
.btn-brown {
	background-color: #964B00;
	color: #fff;
}
.btn-brown:hover {
	background-color: #654321;
	color: #fff;
}
span.error-msg {
	color: red;
	display: inline-block;
}
.error-msg-border {
	border-color: red;
}
.bg-update {
	background: #4FC3F7;
}
.bg-create {
	background: #5EFCA1;
}
.fa-plus-green {
	color: green;
	font-style: bold;
}
.m-left-appt {
	margin-left: 2%;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.circle {
	border-radius: 16px;
}

/* APPOINTMENT COLOR CUSTOM CSS */
/* We don't want dropdown list, you can delete it with javascript, too! */
/* #d {
	display: none;
  } */
  /* General stuff - radio button. */
  input[name="color"], input[name="update_color"] {
	position: relative;
	width: 22px;
	height: 20px;
	vertical-align: bottom;
  }
  input[name="color"]:checked:before, input[name="update_color"]:checked:before {
	border: 4px solid #2c3e50;
  }
  /* The "background" - white background with gray border. */
  input[name="color"]:before, input[name="update_color"]:before {
	position: absolute;
	top: -2px;
	left: -2px;
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	border: 1px solid #999;
	/* border-radius: 3px; */
	background-color: #fff;
  }
  /* The "foreground" - color "square". */
  input[name="color"]:after {
	position: absolute;
	top: 1px;
	left: 1px;
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.12);
  }
input[name="color"]:after, input[name="update_color"]:after {
	position: absolute;
	top: 1px;
	left: 1px;
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 1px;
	box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.12);
}
/* Colours */
input[name="color"][value="1"]:after, input[name="update_color"][value="1"]:after {
	background: #a4bdfc;
}
input[name="color"][value="2"]:after, input[name="update_color"][value="2"]:after {
	background: #7ae7bf;
}
input[name="color"][value="3"]:after, input[name="update_color"][value="3"]:after {
	background: #dbadff;
}
input[name="color"][value="4"]:after, input[name="update_color"][value="4"]:after {
	background: #ff887c;
}
input[name="color"][value="5"]:after, input[name="update_color"][value="5"]:after {
	background: #fbd75b;
}
input[name="color"][value="6"]:after, input[name="update_color"][value="6"]:after {
	background: #ffb878;
}
input[name="color"][value="7"]:after, input[name="update_color"][value="7"]:after {
	background: #46d6db;
}
input[name="color"][value="8"]:after, input[name="update_color"][value="8"]:after {
	background: #e1e1e1;
}
input[name="color"][value="9"]:after, input[name="update_color"][value="9"]:after {
	background: #5484ed;
}
input[name="color"][value="10"]:after, input[name="update_color"][value="10"]:after {
	background: #51b749;
}
input[name="color"][value="11"]:after, input[name="update_color"][value="11"]:after {
	background: #dc2127;
}

select::-ms-expand { display: block; }

.bg-status {
	background: #bdc3c7;
}

/* SALES PERFORMANCE COMMENT BOX */
.scrollable {
	height: 400px;
	overflow: auto; 
	overflow-y: auto; 
	overflow-x: hidden;
}
/* END OF SALES PERFORMANCE COMMENT BOX */
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:-23px;
	right:0%;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:-23px;
	right:0%;
	padding:6px 6px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 68%;
	height:18px;
	line-height:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

.error-page-401,
.error-page-403,
.error-page-404,
.error-page-405,
.error-page-500,
.error-page-503{
	padding: 240px 0;
}

span.ellipsis {
	text-align:center;
    position:relative;
	height: 16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
}

.btn-circle {
	margin-left: 2%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	}
	
	.w-150 {
		width:150px;
	}

	.w-200 {
		width:200px;
	}

	.w-300 {
		width:300px;
	}

	.mt-2 {
		margin-top: 1%;
	}

.error-page-404{
	background: url("../../images/error404.png") center center no-repeat;
}

.error-page-401{
	background: url("../../images/error401.png") center center no-repeat;
}

.error-page-403{
	background: url("../../images/error403.png") center center no-repeat;
}

.error-page-405{
	background: url("../../images/error405.png") center center no-repeat;
}

.error-page-500{
	background: url("../../images/error500.png") center center no-repeat;
}

.error-page-503{
	background: url("../../images/error503.png") center center no-repeat;
}

.account-cols-7{
	padding: 0 150px !important;
}

.account-cols-8{
	padding: 0 50px !important;
}

a#notif-hover{
	cursor: pointer;
	color: rgb(2, 91, 126);
}
a#notif-hover:hover{
	text-decoration: underline;
}

a#reminder-hover{
	cursor: pointer;
	color: rgb(2, 91, 126);
}
a#reminder-hover:hover{
	text-decoration: underline;
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.back-btn {
		margin-left: 4%;
	}

	.graph-md{
		width: 50%;
	}
}

@media (max-width: 1900px){
	.table-box{
		overflow-x: auto;
		overflow-y: hidden;
	}
}

@media (min-width: 300px) and (max-width: 1500px) {
	.back-btn {
		margin-left: 5%;
	}
}

@media (max-width: 767px){


	.mobile-nav{
		display:block;
		margin-bottom: 0;
	}

	.mobile-nav .container-fluid{
		text-align: center;
	}

	.mobile-nav .navbar-nav{
		margin: 7.5px -5px !important;
		display: inline-block;
	}
	.mobile-nav li {
		display: inline-block;
	}

	.mobile-nav .active>a{
		background-color: #80173d !important;
		color: #fff !important;
	}
}