<template>
    <span>
        <button
            class="btn btn-info btn-sm"
            @click="showOpportunityModal"
        >
            <i class="fa fa-plus-circle"></i> Add Opportunity
        </button>

         <i class="loader hidden" id="loader-modal"></i>
        <modals-container />
        <v-dialog/> <!-- Modal dialog -->
    </span>
</template>

<script>
    import OpportunityProspectModal from '../prospects/modals/OpportunityProspectModal.vue';

    export default {
        props: ['prospect'],
        mounted() {
            $('button[id="btnAddOpp"]').on('click',function() {
               this.showOpportunityModal();
            });
        },
        methods: {
            showOpportunityModal() {
                    this.$modal.show(OpportunityProspectModal, {
                        prospect_id: this.prospect
                    },{
                        height: 'auto',
                        width: '60%',
                        reset: true,
                        clickToClose: false,
                        delay: 160,
                        transition: 'pop-out',
                        scrollable: true
                    },{
                        'before-open': (event) => { 
                            document.querySelector('i[id="loader-modal"]').classList.remove('hidden') 
                        },
                        'opened': (event) => {
                            document.querySelector('i[id="loader-modal"]').classList.add('hidden') 
                        }
                    })
                },
        }
    }

</script>