
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";

[v-cloak] {
    display: none;
}

.display-none {
    display: none;
}

.is-valid {
    border-color: $brand-success;
}

.is-invalid {
    border-color: $brand-danger;
}

.error-danger {
    color: $color-danger;
}

.pop-out-enter-active,
.pop-out-leave-active {
    transition: all 0.4s;
}
.pop-out-enter,
.pop-out-leave-active {
    opacity: 0;
    transform: translateY(24px);
}
