<template>
    <li>
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="notif-counter" v-if="notifications.length > 0">{{ notifications.length }}</span>
        </a>

        <ul class="dropdown-menu notifications">
            <li v-for="notification in orderedNotifications">
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadCreated')">A new lead {{ notification.data.lead.company }} has been created <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadUpdated')">The lead {{ notification.data.lead.company }} has been updated <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('LeadConverted')">The lead {{ notification.data.lead.company }} is converted to account <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('LeadDeleted')">The lead {{ notification.data.lead.company }} has been deleted <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('AccountUpdated')">The account {{ notification.data.lead.company }} has been updated <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            </li>
            <li v-if="notifications.length == 0" class="text-center">
                No new notifications
            </li>
            <hr>
            <li class="notification-footer">
                <a href="/notification/list"> See All </a> 
            </li>
        </ul>

    </li>
</template>

<script>
    import moment from 'moment'
    export default {
        props: ['notifications'],
        computed: {
            orderedNotifications: function(){
                return _.orderBy(this.notifications, ['created_at'],['desc'])
            }
        },
        methods: {
            dateshow : function (date){
                return moment().date() > moment(date).date() ? moment(date).calendar() : moment(date).fromNow();
            },
            ReadCreated: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/edit/' + notification.data.lead.id;
                });
            },
            ReadConverted: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/account/view/' + notification.data.account.id;
                });
            },
            Dismiss: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = location.href;
                });
            }
        }
    }
</script>

<!-- <script>
    export default {
        props: ['notifications'],
        methods: {
            MarkAsRead: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/edit/' + notification.data.lead.id;
                });
            }
        }
    }
</script> -->
