<template>
    <tr>
        <td class="text-center dates">None</td>
        <td class="text-center company">{{ company | properCase }}</td>
        <td class="text-center title">None</td>
        <td class="text-center description">{{ description | properCase }}</td>
        <td class="text-center services">None</td>
        <td class="text-center person">None</td>
        <td class="text-center status">None</td>
        <td class="text-center action">
            <a href="#" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a>
        </td>
    </tr>
</template>
<script>
    export default {
        props: ['id', 'date_start', 'date_end', 'company', 'title', 'description', 'services', 'created_by', 'status'],
        filters :  {
            properCase(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        }
    }
</script>

<style>
    .app-appointment {
        display: flex;
        margin: 1em 1em 1em 0;
        border: 1px solid #d1d1d1;
        padding: 1em;
        max-width: 350px;
        background-color: white;
    }

    .app-appointment img {
        height: 70px;
    }

    .col-2 {
        margin-left: 1em;
    }

    .col-2 > h3 {
        margin: 0.5em 0;
    }
</style>

