<template>
    <div class="modal fade" id="addAppointmentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

    <div class="row">
        <div class="col-md-12" style="width:500px">
                <!-- <input type="hidden" id="reminder-accountid" name="reminderaccountid" /> -->
                <div class="data-header-box clearfix">
                    <span class="header-h"><i class="fa fa-clock-o" aria-hidden="true"></i> Add Appointment</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
            
                        
                <div class="form-group company-select">
                    <label for="appCompany">Company</label>
                    <Multiselect 
                        v-model="value"
                        :track-by="companies.id"
                        :options="companies"
                        placeholder="Select a company"
                    ></Multiselect>
                </div>
            
                <div class="form-group">
                    <label for="appTitle">Title</label>
                    <input type="text" name="appTitle" id="appTitle" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="appTitle">Description</label>
                    <textarea name="appDesc" id="appDesc" class="form-control" ></textarea>
                </div>

                 <div class="form-group">
                    <label for="appStartDate">Target Date</label>
                    <RangeDatePicker 
                        :months="months"
                        :shortDays="shortDays"
                        :captions="captions"
                        :presetRanges="presetRanges"
                    >
                    </RangeDatePicker>
                </div>
                
                    
                <div class="bottom-buttons clearfix">
                    <div class="buttons-box">
                        <button id="reminder-create" type="button" class="btn btn-success"> Create Appointment </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

        </div> <!-- col-md-12 -->
    </div> <!-- row -->

            </div> <!-- modal-content -->
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import RangeDatePicker from 'vue-rangedate-picker';

    function Company({id, company}) {
        this.id = id;
        this.company = company;
    }

    export default {
        components: {
            Multiselect, RangeDatePicker
        },
        data() {
            return {
                value: null,
                options: this.companies,
                months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                shortDays: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                captions: {'title': 'Choose Dates', 'ok_button': 'Apply Date'},
                presetRanges: { active: false },
                companies: []
            }
        },
        mounted() {
            window.axios.get(`api/appointments/company`).then(response => {
                this.companies = response.data.map(data => data.company);
            });
        },
        methods: {
 
        },
        created() {
          
        }
    }

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>

<style>
   .company-select {
       width: 80%;
   }
   .multiselect__tags {
       border: none;
   }

   .calendar-range[data-v-5e837f70] {
       border: none !important;
   }
</style>
