<template>
    <div id="app-appointment">
        <div id="columns" class="outer-data-box">
            <div class="main-data-box">
                <div class="data-header-box clearfix">
                    <span class="header-h"><i class="fa fa-calendar"></i> Appointments</span>
                </div>

                <div class="data-buttons-box clearfix">
                    <div class="buttons-box pull-left">
                        <button class="btn btn-success btn-lg" @click="initAddAppointment()">Add Appointment <i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>

        <div class="table-box">
            <i id="loader" class="loader hidden"></i>
            <table class="table main-table" id="lobby-management" v-if="appointments.length > 0">
                <thead>
                    <tr>
                        <th class="text-center dates">Schedule Date</th>
                        <th class="text-center company">Company</th>
                        <th class="text-center title">Title</th>
                        <th class="text-center description">Description</th>
                        <th class="text-center services">Services</th>
                        <th class="text-center person">Contact Person</th>
                        <th class="text-center status">Status</th>
                        <th class="text-center action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-bind="appointments" v-for="(appointment, index) in appointments">
                        <td>{{ getScheduledDate(appointment.date_start, appointment.date_end) }}</td>
                        <td>{{ appointment.company }}</td>
                        <td>{{ appointment.title }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ 'N/A' }}</td>
                        <td>{{ 'N/A' }}</td>
                        <td>{{ 'N/A' }}</td>
                        <td class="text-nowrap">
                            <button @click="initUpdate(index)" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Edit</button> 
                            <!-- <button @click="deleteAppointment(index)" class="btn btn-danger">Delete</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- div.table-box -->

            </div> <!-- div.main-data-box -->
        </div> <!-- div#columns -->


    <div class="container">
        <div class="modal fade" id="add_appointment_model" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

        <div class="row">
            <div class="col-md-12" style="width:500px">
                <div class="data-header-box clearfix">
                    <span class="header-h"><i class="fa fa-clock-o" aria-hidden="true"></i> Add Appointment</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>                                

                <input type="hidden" v-model="this.selected">

                <div class="alert alert-danger" v-if="errors.length > 0">
                    <ul>
                        <li v-for="error in errors"> {{ error }}</li>
                    </ul>
                </div> 

                 <div class="form-group">
                    <p><em><strong>Note:</strong> Status automatically set to Pending</em></p>
                </div>   

                <br />     

                <div class="form-group company-select">
                    <label for="appCompany">Company</label>
                    <Multiselect 
                        v-model="selected"
                        :options="companies"
                        placeholder="Select a company"
                    ></Multiselect>
                </div>
                
                <div class="form-group">
                    <label for="title">Title</label>
                    <input v-model="appointments.title" type="text" name="title" id="title" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea v-model="appointments.description" cols="30" rows="5" name="description" id="description" class="form-control" ></textarea>
                </div>

                <div class="form-group">
                    <label for="appStartDate">Target Date</label>
                    <RangeDatePicker 
                        @selected="onDateSelected"
                        :presetRanges="presetRanges"
                        i18n="EN"
                    >
                    </RangeDatePicker>
                </div>

                    
                <div class="bottom-buttons clearfix">
                    <div class="buttons-box">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" @click="createAppointment" class="btn btn-primary">Create Appointment</button>
                    </div>
                </div>

            </div> <!-- div.col-md-12 -->
        </div> <!-- div.row -->

                </div> <!-- div.modal-content -->
            </div> <!-- div.modal-dialog -->
        </div> <!-- div.modal-fade -->


        <div class="modal fade" tabindex="-1" role="dialog" id="update_appointment_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Update Appointment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" placeholder="Title" class="form-control"
                                   v-model="update_appointment.title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea cols="30" 
                                      rows="5" class="form-control"
                                      placeholder="Task Description"
                                      v-model="update_appointment.description"></textarea>
                        </div>
                        
                      
                    </div> <!-- div.modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="updateAppointment" class="btn btn-primary">Update Appointment</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div> <!-- /.container -->
    </div> <!-- div#app-appointment -->
</template>

<script>
    import Multiselect from 'vue-multiselect';
    // import RangeDatePicker from 'vue-rangedate-picker';
    import RangeDatePicker from 'vue-rangedate-picker-winslow';

    // initial 7 day range
    // const n = new Date();
    // const start = new Date(n.getFullYear(), n.getMonth(), n.getDate() - 5);
    // const end = new Date(n.getFullYear(), n.getMonth(), n.getDate() + 1);

    import moment from 'moment';
    Vue.prototype.moment = moment;

    export default {
        data(){
            return {
                appointments: {
                    company: '',
                    title: '',
                    description: '',
                    date_start: '',
                    date_end: '',
                },
                selected: '',
                errors: [],
                appointments: [],
                update_appointment: {},
                options: this.companies,
                presetRanges: { active: false },
                companies: [],
                value: null,
                selectedDate: {
                    start: '',
                    end: ''
                }
            }
        },
        mounted()
        {
            this.readAppointments();
            window.axios.get(`appointment/get_company`).then(response => {
                this.companies = response.data.map(data => data.company);
            });   
        },
        methods: {
            dateFormat(date) {
                return moment(date).subtract(1, 'd').format('YYYY-MM-DD HH:mm:ss')
            },
            onDateSelected(daterange) {
                this.selectedDate = daterange
            },
            getScheduledDate(start, end) {
                return start === end || end === null ? moment(start).format('MMM. D, YYYY') : moment(start).format('MMM. D') + ' - ' + moment(end).format('MMM. D, YYYY')
            },
            initAddAppointment()
            {
                this.errors = [];
                $("#add_appointment_model").modal("show");
            },
            createAppointment()
            {
                axios.post('/appointment/create', {
                    company: this.selected,
                    title: this.appointments.title,
                    description: this.appointments.description,
                    date_start: this.dateFormat(this.selectedDate.start),
                    date_end: this.selectedDate.end === null ? this.dateFormat(this.selectedDate.start) : this.dateFormat(this.selectedDate.end)
                })
                    .then(response => {
                        this.reset();
                        $("#add_appointment_model").modal("hide");
                    })
                    .catch(error => {
                        this.errors = [];
                        
                        
                    });
            },
            reset()
            {
                this.appointments.title = '';
                this.appointments.description = '';
                
            },
            readAppointments()
            {
                axios.get(`/appointment/read`)
                    .then(response => {
                        this.appointments = response.data.appointments;
                    });
            },
            initUpdate(index)
            {
                this.errors = [];
                $("#update_appointment_model").modal("show");
                this.update_appointment = this.appointments[index];
            },
            updateAppointment()
            {
                axios.patch('/appointment/update/' + this.update_appointment.id, {
                    title: this.update_appointment.title,
                    description: this.update_appointment.description,
                })
                    .then(response => {
 
                        $("#update_appointment_model").modal("hide");
 
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.title) {
                            this.errors.push(error.response.data.errors.title[0]);
                        }
 
                        if (error.response.data.errors.description) {
                            this.errors.push(error.response.data.errors.description[0]);
                        }
                    });
            }
        },
        components: {
            Multiselect, RangeDatePicker
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>

<style>
   .company-select {
       width: 80%;
   }
   .multiselect__tags {
       border: none;
   }

   .calendar-range[data-v-5e837f70] {
       border: none !important;
   }
</style>
