<template>
        <!-- <create-appointment-modal
        ></create-appointment-modal> -->
        

    
</template>
<script>
    function Appointment({id, date_start, date_end, company, title, description, services, created_by, status}) {
        this.id = id;
        this.date_start = date_start;
        this.date_end = date_end;
        this.company = company;
        this.title = title;
        this.description = description;
        this.services = services;
        this.created_by = created_by;
        this.status = status;
    }

    import AppointmentComponent from './Appointment.vue';
    import AppointmentModal from './AppointmentModal.vue';
    
    export default {
        data() {
            return {
                appointments: []
            }
        },
        methods: {
            getAppointments() {
                window.axios.get(`/api/appointment/get`).then(({ data }) => {
                   data.forEach(appointment => {
                       this.appointments.push(new Appointment(appointment));
                   });
                });
            }
        },
        components : {
            'appointment-component': AppointmentComponent, 'create-appointment-modal': AppointmentModal
        },
         created() {
            this.getAppointments();
        }
    }
</script>

<style>
    #app-appointment {
        margin-left: 1em;
    }
</style>
