<template>
  <div class="modal-content"  v-cloak>
        <!-- Modal Header -->
        <div class="modal-header">
            <button class="btn btn-danger pull-right" @click="touchClose">
                <span aria-hidden="true"><i class="fa fa-remove"></i></span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Add Opportunity
            </h4>
        </div>
         <i class="loader hidden" id="loader-opportunity"></i>
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="form-group">
                    <i class="loader hidden" id="loader-prospect"></i>

                    <!-- Opportunity Table -->
                <div class="table-box" style="overflow-x: scroll" v-if="opportunities.length > 0">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Client Name</th>
                                <th class="text-center">Contract Type</th>
                                <th class="text-center">Contract Value</th>
                                <th class="text-center">Services</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Contact Number</th>
                                <th class="text-center">Created Date</th>
                                <th class="text-center">Created by</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody v-for="opportunity in opportunities">
                        <paginate
                                name="paginate-opportunity"
                                :list="opportunity.infos"
                                :per="3"

                        >

                        </paginate>

                        <tr v-for="info in paginated('paginate-opportunity')">
                            <td class="text-center">{{ info.client_name }}</td>
                            <td class="text-center">{{ info.contract_type }}</td>
                            <td class="text-center">{{ info.contract_value }}</td>
                            <td class="text-center">{{ info.services }}</td>
                            <td class="text-center">{{ info.status }}</td>
                            <td class="text-center">{{ info.mobile_number }}</td>
                            <td class="text-center">{{ info.created_at }}</td>
                            <td class="text-center">{{ info.created_by }}</td>
                            <td>
                                <button data-toggle="tooltip"
                                        :title="tooltipMsg('Convert to Closed')"
                                        class="btn btn-primary"
                                        @click="postConvertOpportunity(info)"
                                        v-show="info.status !== 'Converted'"
                                >
                                    <i class="fa fa-sign-out"></i>
                                </button>
                                <button data-toggle="tooltip"
                                        :title="tooltipMsg('Delete Opportunity')"
                                        class="btn btn-danger"
                                        @click="deleteOpportunity"
                                        v-show="info.status !== 'Converted'"
                                >
                                    <i class="fa fa-remove"></i></button>

                                <span v-show="info.status === 'Converted'">No Actions</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p class="text-center">
                    <paginate-links :async="true"
                                    for="paginate-opportunity"
                                    :classes="{
                        'ul' : 'pagination',
                    }"
                    ></paginate-links>
                </p>


                    <!-- Will show if opportunity is empty -->
                <h3 class="text-center" v-if="opportunities.length <= 0" v-cloak>No opportunity found! <a href="" @click.prevent="enableForm">Create new one.</a></h3>
            </div>

                <!-- Form input fields for creation of new prospect's opportunity with Vee-Validate -->
                <form role="form" v-if="showForm">
                    <hr />


                    <!-- Button for closing of form input fields -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                               <button 
                                    class="btn btn-danger btn-lg circle"
                                    @click.prevent="showForm = false"
                                    @click="touch = false"
                                    title="Hide the Opportunity form"
                                    data-toggle="tooltip"
                                >
                                        <i class="fa fa-arrow-up"></i>
                                </button>
                        </div>
                    </div>


                    <!-- First Row: Nature of Package/Service Field -->
                    <div class="row">
                        <div class="col-md-11">
                             <div class="form-group">
                                <label for="services">Nature of Package/Services <span class="error-danger">*</span></label>
                                <multiselect
                                    v-model="opportunityForm.services"
                                    :options="options.services"
                                    track-by="systemcode"
                                    :multiple="true"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :preserve-search="true"
                                    label="systemdesc"
                                    :preselect-first="true"
                                    placeholder="Select Service(s) (at least one)"
                                    v-validate="'required'"
                                    data-vv-as="Services"
                                    name="services"
                                    :class="[errors.has('services') ? 'is-invalid' : '']"
                                >
                                </multiselect>
                                <p v-show="errors.has('services')" class="error-danger">{{ errors.first('services') }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Second Row: Contract Type and Currency field -->
                    <div class="row">

                        <!-- Contract Type field-->
                        <div class="col-md-6">
                              <div class="form-group">
                                <label for="contract_type">Contract Type <span class="error-danger">*</span></label>
                                <select 
                                    class="form-control"
                                    name="contract_type" 
                                    id="contract_type" 
                                    v-model="opportunityForm.contract_type"
                                    v-validate="'required'"
                                    data-vv-as="Contract Type"    
                                >
                                    <option v-for="contract_type in options.contract_types" 
                                        :value="contract_type.systemcode"
                                        :key="contract_type.systemcode"
                                    >
                                        {{ contract_type.systemdesc }}
                                    </option>
                                </select>
                                <p v-show="errors.has('contract_type')" class="error-danger">{{ errors.first('contract_type') }}</p>
                            </div>
                        </div>

                        <!-- Currency field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contract_type">Currency <span class="error-danger">*</span></label>
                            <select id="currency" class="form-control" name="currency" v-model="opportunityForm.currency" @change="changeCurrencyLabel"
                                        v-validate="'required'"
                                        data-vv-as="Currency"
                                >
                                <option v-for="currency in currencies" :value="currency.id" :key="currency.id">
                                    {{ currency.desc }}
                                </option>
                            </select>
                                <p v-show="errors.has('currency')" class="error-danger">{{ errors.first('currency') }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row: Contract Value and Client Name field -->
                     <div class="row">

                         <!-- Contract type field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contract_Type">Contract Value <span class="error-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="input-group-currency">SGD</span>
                                    <comma-formatted-number 
                                            class="form-control"
                                            v-model="opportunityForm.contract_value"
                                            :formatOptions="{thousand: ',', precision: 2}"
                                            name="contract_value"
                                            id="contract_value"
                                        
                                            v-validate.initial="'required'"
                                            data-vv-as="Contract Value"
                                        />
                                </div>
                                <p v-show="errors.has('contract_value')" class="error-danger">{{ errors.first('contract_value') }}</p>
                            </div>
                        </div>

                        <!-- Client name field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="client_name">Client Name <span class="error-danger">*</span></label>
                                <input type="text" v-model="opportunityForm.client_name" class="form-control"
                                        id="client_name" name="client_name" placeholder="Enter Client Name" v-validate="'required'"
                                            data-vv-as="Client Name" />
                                            
                                <p v-show="errors.has('client_name')" class="error-danger">{{ errors.first('client_name') }}</p>
                            </div>
                        </div>
                    </div>


                    <!-- Fourth Row: Mobile Number and Office Number field -->
                     <div class="row">

                         <!-- Mobile number field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobile_number">Mobile Number <span class="error-danger">*</span></label>
                                <input type="text" class="form-control" name="mobile_number" v-model="opportunityForm.mobile_number"
                                        id="mobile_number" placeholder="Enter Mobile Number" v-validate="'required'"
                                            data-vv-as="Mobile Number"/>
                                
                                <p v-show="errors.has('mobile_number')" class="error-danger">{{ errors.first('mobile_number') }}</p>
                            </div>
                        </div>

                        <!-- Office number field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="office_number">Office Number</label>
                                <input type="text" class="form-control" name="office_number" v-model="opportunityForm.office_number"
                                        id="office_number" placeholder="Enter Office Number"/>
                            </div>
                        </div>
                    </div>

                    <!-- Fifth Row: Designation and Email address field -->
                    <div class="row">

                        <!-- Designation field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input type="text" class="form-control" name="designation" v-model="opportunityForm.designation"
                                        id="designation" placeholder="Enter Designation"/>
                            </div>
                        </div>

                        <!-- Email address field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email Address <span class="error-danger">*</span></label>
                                <input type="email" class="form-control" name="email" v-model="opportunityForm.email"
                                        id="email" placeholder="Enter Email Address" v-validate="'required|email'"
                                            data-vv-as="Email Address"/>

                                <p v-show="errors.has('email')" class="error-danger">{{ errors.first('email') }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Sixth Row: Address and City/Country field -->
                    <div class="row">

                        <!-- Address field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" cols="5" v-model="opportunityForm.address" name="address"
                                        id="address" placeholder="Enter Street Address"></textarea>
                            </div>
                        </div>

                        <!-- City/Country field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City/Country</label>
                                <input type="text" class="form-control" v-model="opportunityForm.city" name="city"
                                        id="city" placeholder="Enter City/Country"/>
                            </div>
                        </div>
                    </div>

                    <!-- Seventh row: Postal code and Industry field -->
                    <div class="row">

                        <!-- Postal code field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postal_code">Postal Code</label>
                                <input type="text" class="form-control" v-model="opportunityForm.postal_code" name="postal_code"
                                        id="postal_code" placeholder="Enter Postal Code"/>
                            </div>
                        </div>

                        <!-- Industry field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="industry">Industry</label>
                                <select id="industry" class="form-control" v-model="opportunityForm.industry" name="industry">
                                    <option v-for="industry in options.industries" :value="industry.code" :key="industry.code">
                                        {{ industry.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Eighth row: Landing Page and Website URL field -->
                     <div class="row">

                         <!-- Landing page field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="landing_page">Landing Page</label>
                                <select id="landing_page" class="form-control" v-model="opportunityForm.landing_page" name="landing_page">
                                    <option v-for="landing in options.landings" :value="landing.systemcode" :key="landing.systemcode">
                                        {{ landing.systemdesc }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Website URL field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="website_url">Website URL</label>
                                <textarea class="form-control" cols="5" name="website_url" v-model="opportunityForm.website_url"
                                          id="website_url" placeholder="Enter Website URL"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Ninth row: Source of Leads and Status field -->
                    <div class="row">

                        <!-- Source of Leads field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="source">Source of Leads <span class="error-danger">*</span></label>
                                <select id="source" class="form-control" v-model="opportunityForm.source" name="source"
                                            data-vv-as="Source of Leads">
                                    <option v-for="lead_source in options.lead_sources" :value="lead_source.systemcode" :key="lead_source.systemcode" >
                                        {{ lead_source.systemdesc }}
                                    </option>
                                </select>

                                <p v-show="errors.has('source')" class="error-danger">{{ errors.first('source') }}</p>
                            </div>
                        </div>

                        <!-- Status field -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="source">Status <span class="error-danger">*</span></label>
                                <select id="status" class="form-control" v-model="opportunityForm.status" name="status"
                                            data-vv-as="Lead Status">
                                    <option v-for="status in options.lead_statuses" :value="status.systemcode" :key="status.systemcode">
                                        {{ status.systemdesc }}
                                    </option>
                                </select>

                                <p v-show="errors.has('status')" class="error-danger">{{ errors.first('status') }}</p>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- End of Form input fields with Vee-Validate -->
        </div>
        
        <!-- Modal Footer -->
        <div class="modal-footer">

            <!-- Close modal button -->
            <button @click="touchClose" type="button" class="btn btn-success"
                    data-dismiss="modal">
                        <i class="fa fa-remove"></i> Close
            </button>

            <!-- Submit button -->
            <button @click="submitOpportunity" type="button" class="btn btn-primary" :disabled="errors.any()">
                <i class="fa fa-plus-circle"></i> Create New
            </button>
        </div>

        <v-dialog/> <!-- Modal dialog -->
    </div>
</template>

<script>
    // Imported package
    import CommaFormattedNumber from "vue-comma-formatted-number";

    export default {
        props: ['prospect_id'],
        components: { CommaFormattedNumber },
        data() {
            return {
                opportunities: '',
                opportunityForm: { // Default opportunity informations
                    prospect_id: this.prospect_id, // Use prospect_id for retrieving opportunities
                    opportunity_id: '',
                    contract_type: 'CT001',
                    currency: 'SGD',
                    contract_value: '0.00',
                    client_name: '',
                    mobile_number: '',
                    office_number: '',
                    designation: '',
                    email: '',
                    address: '',
                    city: '',
                    postal_code: '',
                    industry: 'ID999',
                    landing_page: 'LP001',
                    website_url: '',
                    source: 'SL001',
                    status: 'LS001',
                    services: []
                },
                currencies: [ // Currencies data
                    {id: 'USD', desc: 'US Dollar'},
                    {id: 'SGD', desc: 'Singapore Dollar'},
                    {id: 'PHP', desc: 'Philippine Peso'},
                    {id: 'MYR', desc: 'Malaysian Ringgit'},
                ],
                showForm: false, // Use for hiding form input fields
                options: {}, // Use options for getting the dropdown selection from database
                touch: false, // Use if the opportunity data is touch
                formControl: 'form-control', // Form control class
                newAdd: false, // Use if there is new opportunity
                paginate: ['paginate-opportunity'],
            }
        },
        mounted() {
            $(this.$el).find('button[title]').tooltip();
        },
        computed: {
            getLeadServices() {
                axios.get('/opportunity/api/options')
                .then(response => {
                    this.options = response.data;  // Get response for getting the dropdown selection from database
                })
                .catch(error => {
                    console.log('Error on fetching options: ' + error);
                })
            },
        },
        mounted() {
            $(this.$el).find('button[title]').tooltip();  // Use for bootstrap tooltips
        },
        created() {
            this.getLeadServices; // Invoke getLeadServices from computed
            this.getProspect(); // Get prospect from backend API

            /* beforeSend */
            axios.interceptors.request.use((config) => {
               document.querySelector('i[id="loader-prospect"]').classList.remove('hidden');
                return config;
            }, (error) => {
                document.querySelector('i[id="loader-prospect"]').classList.add('hidden');
                return Promise.reject(error);
            });

            axios.interceptors.response.use((response) => {
                document.querySelector('i[id="loader-prospect"]').classList.add('hidden');
                return response;
            }, (error) => {
                document.querySelector('i[id="loader-prospect"]').classList.remove('hidden');
                return Promise.reject(error);
            });
            /* End of beforeSend block code */
        },
        methods: {
            enableForm() {  // Use for enabling form input field
                this.showForm = true;
                this.opportunityForm.opportunity_id = this.opportunities[0] ? this.opportunities[0].id : '';
            },

            changeCurrencyLabel() { // Change label of currency
                document.querySelector('span[id="input-group-currency"]').textContent = this.opportunityForm.currency;
            },

            getProspect() { // Get prospect opportunities
                axios.get('/opportunity/api/getProspect/' + this.prospect_id)
                .then(response => {
                    this.opportunities = response.data.opportunities;
                });
            },
            submitOpportunity() { // Submission code for creating opportunities
                const opportunity = this.opportunityForm;
                this.enableForm();

                if( (!opportunity.client_name || !opportunity.mobile_number || !opportunity.email
                        || !opportunity.contract_value || !opportunity.services) ) {
                    if (this.touch == true) {
                        this.$modal.show('dialog', { title: 'Warning!', text: 'Please input all required fields!', 
                            buttons: [ { title: 'OK' }]
                        });
                    }

                    this.touch = true;
                    return false;
                }
                
                // this.beforeSend();
                axios.post('/opportunity/store', { opportunity }, { })
                .then(response => {
                    this.newAdd = true;
                    // this.showForm = false;
                    this.touch = false;

                    this.$modal.show('dialog', { title: 'Success!', text: 'Successfully created the opportunity!', 
                        buttons: [ { title: 'OK' }]
                    });

                    if(this.opportunities.length == 0)
                        this.opportunities.push({
                            client_name : response.data.opportunity.client_name,
                            company : response.data.opportunity.company,
                            contract_type : response.data.opportunity.contract_type,
                            contract_value : response.data.opportunity.contract_value,
                            created_at : response.data.opportunity.created_at,
                            created_by : response.data.opportunity.created_by,
                            id : response.data.opportunity.id,
                            mobile_number : response.data.opportunity.mobile_number,
                            status : response.data.opportunity.status,
                            infos : [{ ...response.data.opportunity }]
                        });
                    else
                        this.opportunities[0].infos.push(response.data.opportunity);


                   opportunity.opportunity_id = '';
                   opportunity.contract_type = 'CT001';
                   opportunity.currency = 'SGD';
                   opportunity.contract_value = '0.00';
                   opportunity.client_name = '';
                   opportunity.mobile_number = '';
                   opportunity.office_number = '';
                   opportunity.designation = '';
                   opportunity.email = '';
                   opportunity.address = '';
                   opportunity.city = '';
                   opportunity.postal_code = '';
                   opportunity.industry = 'ID999';
                   opportunity.landing_page = 'LP001';
                   opportunity.website_url = '';
                   opportunity.source = 'SL002';
                   opportunity.status = 'LS002';
                })
                .catch(error => {
                    console.log(error);
                });

            },
            tooltipMsg(message) {
                return message;
            },
            touchClose() {
                this.$emit('close');

                if (this.newAdd) {
                    location.reload();
                }
            },

            postConvertOpportunity(info) {
                this.$modal.show('dialog', {
                    title : 'Confirmation Message!',
                    text: `Are you sure you want to convert this opportunity info?`,
                    buttons: [
                        {
                            title: 'Yes',
                            handler: () => {
                                axios.post('/opportunity/store_session2', { info })
                                    .then((res) => {
                                        window.location.href = "/prospect/convert/" + info.prospect_id + "/step-1";
                                    })
                                    .catch(error => {
                                        console.log(error);
                                    });
                            }
                        },
                        {
                            title: 'No',
                            default: true
                        }
                    ]
                })

            },

            deleteOpportunity() {
                this.$modal.show('dialog', { title: 'Delete this opportunity?', text: 'Go to Opportunities Module',
                    buttons: [ { title: 'OK' }]
                });
            }
        }
    }
</script>

<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    ::placeholder {
        opacity: 0.5;
    }

    :-ms-input-placeholder {
        opacity: 0.5;
    }

    ::-ms-input-placeholder {
        opacity: 0.5;
    }
</style>