<template>
    <ul class="notifications-panel">
        <li v-for="notification in orderedNotifications" v-bind:class="(notification.read_at) === null ? 'unread' : '' ">
            <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadCreated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} created lead {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadUpdated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} updated lead {{ notification.data.lead.company }} </small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('LeadConverted')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} converted lead {{ notification.data.lead.company }} into an account<br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('LeadDeleted')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} deleted lead {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('AccountUpdated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} updated account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('AccountDeleted')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} deleted account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('AccountAssigned')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} assigned members in account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteCreated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} added a note in lead {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('AccountNoteCreated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} added a note in account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteUpdated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} updated a note in lead {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('AccountNoteUpdated')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} updated a note in account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteDeleted')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} deleted a note in lead {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
            <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('AccountNoteDeleted')">{{ notification.data.employee.f_name+' '+notification.data.employee.l_name }} deleted a note in account {{ notification.data.lead.company }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
        </li>

    </ul>
</template>

<script>
    import moment from 'moment'
    export default {
        props: ['notifications'],
        computed: {
            orderedNotifications: function(){
                return _.orderBy(this.notifications, ['created_at'],['desc'])
            }
        },
        methods: {
            dateshow : function (date){
                return moment().date() > moment(date).date() ? moment(date).calendar() : moment(date).fromNow();
            },
            ReadCreated: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/edit/' + notification.data.lead.id;
                });
            },
            ReadConverted: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/account/view/' + notification.data.account.id;
                });
            },
            Dismiss: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = location.href;
                });
            }
        }
    }
</script>

<!-- <script>
    export default {
        props: ['notifications'],
        methods: {
            MarkAsRead: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/edit/' + notification.data.lead.id;
                });
            }
        }
    }
</script> -->
