<template>
    <li>
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell" aria-hidden="true"></i>
        
        <span class="notif-counter" v-if="notifs(notifications) > 0 ">{{ notifs(notifications) }}</span>
        </a>
        <ul class="dropdown-menu notifications">
            <div class="notification-nav">
                <span class="notification-see">
                    <a href="/notification/list"> See All </a> 
                </span>
                 <span id="notification-clear" class="notification-clear">
                    <a href="/notification/clear"> Clear All </a> 
                </span>
            </div>
            <li v-for="notification in orderedNotifications" v-bind:class="(notification.read_at) == null ? 'unread' : 'read'" >
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadCreated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} created lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadProspect(notification)" v-if="(notification.type).match('LeadConvertedProspect')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} converted lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} into prospect<br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadConverted(notification)" v-if="(notification.type).match('ProspectConvertedAccount')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} converted prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} into account<br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('LeadDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('ProspectDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadProspect(notification)" v-if="(notification.type).match('ProspectUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAccount(notification)" v-if="(notification.type).match('AccountUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('AccountDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="AccountAssignedPerPackage(notification)" v-if="(notification.type).match('AccountAssignedPerPackage')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} assigned members in account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteCreated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} added a note in lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAccount(notification)" v-if="(notification.type).match('AccountNoteCreated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} added a note in account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadProspect(notification)" v-if="(notification.type).match('ProspectNoteCreated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} added a note in prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated a note in lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAccount(notification)" v-if="(notification.type).match('AccountNoteUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated a note in account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadProspect(notification)" v-if="(notification.type).match('ProspectNoteUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated a note in prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadCreated(notification)" v-if="(notification.type).match('LeadNoteDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted a note in lead {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAccount(notification)" v-if="(notification.type).match('AccountNoteDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted a note in account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadProspect(notification)" v-if="(notification.type).match('ProspectNoteDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted a note in prospect {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).lead.company : notification.data.lead.company ) }} <br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAppointment(notification)" v-if="(notification.type).match('AppointmentUpdated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} updated appointment {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).appointment.company : notification.data.appointment.company ) }} dated {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).appointment.scheduled_date : notification.data.appointment.scheduled_date ) }}<br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="ReadAppointment(notification)" v-if="(notification.type).match('AppointmentCreated')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} created appointment {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).appointment.company : notification.data.appointment.company ) }} dated {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).appointment.scheduled_date : notification.data.appointment.scheduled_date ) }}<br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="Dismiss(notification)" v-if="(notification.type).match('ContractDeleted')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} deleted Contract # {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).contract.contract_number : notification.data.contract.contract_number ) }} on {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).contract.company : notification.data.contract.company ) }}<br> <small>{{ dateshow(notification.created_at) }}</small></a>
                <a href="#" v-on:click="AccountAssignedPerPackage(notification)" v-if="(notification.type).match('NotifySalesPersonWhenAssigned')">{{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).employee.f_name+' '+JSON.parse(notification.data).employee.l_name : notification.data.employee.f_name+' '+notification.data.employee.l_name ) }} assigned {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).members : notification.data.members ) }} on account {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).contract.company : notification.data.contract.company ) }} with Contract # {{ (typeof notification.data !== 'object' ? JSON.parse(notification.data).contract.contract_number : notification.data.contract.contract_number ) }}<br> <small>{{ dateshow(notification.created_at) }}</small></a>
            </li>
            <li v-if="notifications.length == 0" class="text-center notification-empty">
                No new notifications
            </li>
            <br/><br/>
        </ul>

    </li>
</template>

<script>
    import moment from 'moment'
    export default {
        props: ['notifications'],
        computed: {
            orderedNotifications: function(){
                return _.orderBy(this.notifications, ['created_at'],['desc'])
            }
        },
        methods: {
            notifs: function(notifications){
                var i, 
                    notifs = 0;

                for (i = 0; i < notifications.length; i++) { 
                    notifs += !notifications[i].read_at && !notifications[i].is_cleared ? 1 : 0;
                }
                
                return notifs;
            },
            dateshow : function (date){
                return moment().date() > moment(date).date() ? moment(date).calendar() : moment(date).fromNow();
            },
            ReadCreated: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/lead/view/' + JSON.parse(notification.data).lead.id;
                });
            },
            ReadAppointment: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/appointment/list/';
                });
            },
            ReadAccount: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/account/view/' + JSON.parse(notification.data).account.id;
                });
            },
            ReadProspect: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/prospect/view/' + JSON.parse(notification.data).prospect.id;
                });
            },
            AccountAssignedPerPackage: function(notification){
                var data = {
                    id: notification.id
                };
                
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/account/view/' + JSON.parse(notification.data).account.id + '#' + JSON.parse(notification.data).package;
                });
            },
            ReadConverted: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = '/account/edit/assign/' + JSON.parse(notification.data).account.id;
                });
            },
            Dismiss: function(notification){
                var data = {
                    id: notification.id
                };
                axios.post('/notification/read', data).then(response => {
                    window.location.href = location.href;   
                });
            }
        }
    }
</script>